[2013-07-22 02:34] ghost opened #1 "Adding md files"
Markdown files added to demo aren't listed when starting "reveal-md demo." Only a.md and b.md are present. Creating a new folder "presentations" with files included gets a no such files or directory.

[2013-07-23 14:39] #1 closed, assigned to nobody

[2013-09-08 06:56] avish opened #2 "Can't use local images"
I'm trying to include an image in a presentation, and can't get reveal-md to serve it. I'm placing the image next to the MD file and using `<img src="image.png"/>` but get a 404 (reveal-md is started from the same directory as the MD file).

Does the local reveal-md server serve static files at all?

[2013-09-08 18:14] #2 closed, assigned to nobody

[2013-10-23 03:00] jordanmorris opened #3 "reveal.js dependency compromised"
The dependency for reveal.js appears to refer to a fork which no longer exists.

[code]

I tried replacing the dependency with a version-agnostic reference to the reveal.js package in the npm library. reveal-md managed to install under these conditions, but upon running `reveal-md demo`, I receive the error:

[code]

[2013-10-25 10:00] #3 closed, assigned to nobody

[2014-01-23 14:57] samtsai opened #9 "Releases/Tags"
Hi @webpro,

Thanks for accepting my recent PRs. I hope that I didn't mess up your release cycle but I realize we haven't updated the tags/releases, last version is 0.0.6.

If any of those could be done post, then I suggest we keep that timeline up to date. Thoughts?

[2014-01-29 12:50] #9 closed, assigned to nobody

[2014-04-01 08:29] clakech opened #11 "Cannot use --print option ?"
Hi,

I can't use print option :(

$ reveal-md --help

  Usage: reveal-md <slides.md> [options]

  Options:

[code]

$ reveal-md --version
0.0.1

Is there any plugin to install or enabled ?

[2014-04-03 06:47] #11 closed, assigned to nobody

[2014-04-25 05:17] abelnation opened #12 "Advanced markdown examples?"
I'm having trouble figuring out how to use some of the advanced markdown features.  I've tried examples as shown on the reveal.js site, e.g.:

[code]

Can you provide some examples in markdown of how to do fragments and vertical slides in markdown?

Thanks!

[2014-04-25 15:51] abelnation opened #13 "Highlight.js themes not being applied"
As far as I can tell, highlight.js themes are not being applied properly.  The zenburn theme should look like it does on this page:
http://highlightjs.org/static/test.html

But not coloring seems to be applied.

[2014-04-27 10:03] #13 closed, assigned to nobody

[2014-05-14 00:21] johnrengelman opened #15 "Speaker Notes support?"
Is there any support for rending speaker notes?

Adding something like

[code]

to my markdown file, which does hide the content, but pressing the 's' key has no effect per the documentation (https://github.com/hakimel/reveal.js/#speaker-notes)

[2014-05-14 07:39] #12 closed, assigned to nobody

[2014-06-13 21:51] finnp opened #17 "Producing standalone versions from Markdown"
Hey

I love reveal-md. But sometimes I want to share my presentation online with other people. So it would be nice if there would be a commad/option to compile the .md into a standalone  reveal.js version.

Maybe there is already a tool for that or an easy way, but I think this could be included in reveal-md.

[2014-06-23 08:32] #17 closed, assigned to nobody

[2014-06-23 09:48] #15 closed, assigned to nobody

[2014-08-03 12:05] mdbrennan opened #19 "Printing Produces Blank Slide"
Hi There great package. I'm having trouble with the printing option. I can produce the PDF but there is no content on the slides, just blank slides.

Any ideas?

[2014-08-28 10:04] #19 closed, assigned to nobody

[2014-09-10 19:52] kemelzaidan opened #20 "Reveal-md with Multiplex"
Is there a way to use reveal-md with reavealjs multiplex support feature? That would be awesome!

Thanks and congratulations for the great software.

[2014-09-10 20:56] kemelzaidan opened #21 "Element attributes do not work"
In reveal.js there is a way to set element class and attributes by passing a comment like in the reveal.js documentation:

It is very useful to set element's fragments, but unfortunately, that does't work with reveal-md.

[2014-09-18 09:08] jossemarGT opened #22 "Blank PDF"
**First:** This module is the best!  Thanks :octocat:

**Second:** Yeah I know that #19 was close, but I have the same issue with pdf printing

```reveal-md Slides.md --print Slides.md.pdf```

Creates a pdf with the same background color and amount of slides, but, the sentences are transparent. Maybe the problem is in `@print` styles?

If a have some time I'll be glad to trace that bug, but at thi

[2014-11-06 09:38] jiming opened #23 "multiple vertical/nested slide separator wrong"
SAMPLE CODE:

[code]

aaaa and bbbb in the same sub vertical section?

Please kindly help me know how to fix it? Great thanks!

Best regards!
Jiming

[2014-11-06 12:47] #23 closed, assigned to nobody

[2014-12-06 18:58] hugozap opened #24 "Generate static site"
Hi, This module is really cool. I want to share the rendered html, is there an easy way to do it?
Thanks

[2015-01-21 22:55] kemelzaidan commented on #21
If the change fixes this issue without breaking anything else, that would be very nice :+1:

[2015-01-22 08:36] JanoschDeurer commented on #21
In the moment I have not enouth time to test it. The parts that I used so far worked. I will work on it in about 2 month and then file a pull request.

[2015-01-22 08:39] webpro commented on #21
Let's first wait if/until I've merged #26 (no idea what's in Reveal.js v3.x).

[2015-01-22 19:53] webpro commented on #21
Looks like this works fine out of the box now. Can you guys please take a look and confirm?

[2015-01-28 16:42] yoonghm opened #27 "Documentation: `release.json` should be changed to `reveal.json`"
In `README.md`, the word `release.json` shall be changed to `reveal.json`.

[2015-01-28 19:44] #27 closed

[2015-01-29 10:16] yoonghm opened #28 "`reveal.json` must be in json format"
`reveal.json` must be in json format instead of javascript as in [https://github.com/hakimel/reveal.js#configuration](https://github.com/hakimel/reveal.js#configuration).

Options in `reveal.json` are also not used.

[2015-01-29 10:49] webpro commented on #28
Hi @yoonghm,

They should indeed be in JSON format, not JS (it's implied by the file extension). I've linked to the Reveal.js #configuration docs so users can see what can be configured.

The `reveal.json` should be picked up. Are you using the latest version (v0.0.14))? Did you put the file in the root of the Markdown files directory? E.g. if you would do `reveal-md here` the file should be at "h

[2015-01-30 05:44] yoonghm commented on #28
It is working. Thanks.

[2015-01-30 05:45] #28 closed

[2015-02-18 11:12] maxlath opened #29 "express app has no method close"
printing pdf fails due to express app having no close methods: from this [stackoverflow answer](http://stackoverflow.com/a/14516195/3324977) it seems that close should be called on the `http.Server`.

[code]
thank you for this tool!

[2015-02-18 11:40] maxlath commented on #24
@hugozap that's also what I'm looking for, did you a way to do that?

[2015-02-18 13:43] webpro commented on #24
Maybe a service like https://ngrok.com or https://localtunnel.me is what you guys are after? Just Google for "share local website".

[2015-02-18 13:50] #29 closed

[2015-02-18 14:17] maxlath commented on #24
@webpro no, it's more about doing something like
` reveal-md slides.md --build-static dist/ `
which would package the html/css/javascript to be hosted has a static page (like [a github page](http://vladimiralexiev.github.io/pres/20140611-SmartCulture-sem-tech-CH/index.html))

[2015-02-18 14:57] webpro commented on #24
Ah. That shouldn't be too hard. It's just writing to HTML files instead of `res.send`-ing it with Express.

[2015-02-18 15:35] maxlath commented on #24
indeed! just tried to
[code]
and got my html file!
All that was missing then were the links to the associated reveal css and js files (and also my images), and done :)

[2015-02-18 16:07] webpro commented on #24
So maybe you can send a PR to put this behind e.g. `--dist [dir]`?

[2015-02-19 08:51] maxlath commented on #24
I tried to have a look at that, but I'm a bit confused on how to use commander to get the options, gather reveal files and handle `href` and `src` possible need to be rewritten

[2015-02-20 23:50] kemelzaidan commented on #21
Is the version in npm the same you fixed? I've tried version 0.0.15 and it didn't work for me. HTML generated show an empty html comment.

[2015-02-25 01:49] justmytwospence opened #30 "More flexible reveal.json lookup"
I propose that `$HOME/reveal.json` or `$HOME/.reveal.json` be a fallback when a `reveal.json` is not located in the root directory of the markdown files. Also, a command line to point to a configuration file (`-c`?), would be nice. Thoughts?

[2015-02-25 09:53] webpro commented on #30
Good idea, PR welcome!

[2015-02-27 21:21] justmytwospence commented on #30
Cool, I'll take a look this weeknd.

[2015-03-02 19:41] justmytwospence commented on #24
theoretically this could even be integrated with GitHub pages, and a --publish option added

[2015-03-23 10:08] jossemarGT commented on #21
Just as follow up, the comment syntax seems to work for me

[code]

[2015-03-23 10:37] webpro commented on #21
Thanks @jossemarGT.

I consider this issue to be fixed. Feel free to re-open if you still encounter issues.

[2015-03-23 10:37] #21 closed

[2015-03-30 09:50] jeud opened #33 "I have a problem with slide separation"
I'm currently using `---` as mentioned in the documentation, but when using `reveal-md myslide.md` these contents are in only one side.

Please guide.

    # Getting Started using AngularJS

    ---

    ## Instructor

    Kongthap Thammachat (tutor4dev)

    ---

    ## Sample Code

	$http.get(url)
		.success(function(data) {
			defer.resolve(data);
		});

    ---

Thanks
Kongthap

[2015-03-30 09:56] webpro commented on #33
That's odd. If I copy this Markdown and open it with `reveal-md` I'm getting multiple slides as intended.

Maybe it's because of line endings. It looks for `^\n---\n$` by default, maybe you have `\r\n` in your Markdown file? Probably I should fix that regexp anyway.

[2015-03-30 10:58] jeud commented on #33
@webpro is it about Windows? I'm using Windows 7 and I got some errors while installing reveal-md using NPM, it said about MS Build or something, but when running it, there was no errors at all

I'm using Subime Text, is there any way around i can see what's kind of line break is saved on the file?

Anyway thanks for this awesome ecosystem

[2015-03-30 11:09] webpro commented on #33
I don't know how Sublime (for Windows) saves EOLs. Would be nice if you'd find a way to see EOL character(s) in your file. Then I might have a fix.

[2015-03-30 13:28] jeud commented on #33
@webpro I just changed EOL to *unix* and it's just working like magic :)
Thanks for this wonderful ecosystem you've made

[2015-03-30 13:34] webpro commented on #33
Thanks, good to hear! I'm going to fix it in reveal-md anyway (it should just work without worrying about EOL characters).

[2015-03-30 15:04] #33 closed

[2015-03-30 15:06] webpro commented on #33
Just released v0.0.18, which should work with any of `\n`, `\r`, `\r\n` for EOLs.

[2015-03-31 08:47] jeud opened #34 "A question about `</body>`, `</script>`"
Hi, I have got another question to bother you

I have experienced some problems using HTML tag e.g. `</body>`, `</script>`

    HTML

	<body>
		Hello World
		<script src="angular.min.js"></ script>
		<script src="angular-animate.min.js"></script>
	</body>

![](http://i.cubeupload.com/6uLOCX.png)

`</ script>` and `</ body>` would cause no problems

Any guides for me please ?

Thanks.

[2015-03-31 09:47] webpro commented on #34
Sorry, I don't know how you include this in your Markdown and I haven't tried the highlighter. Maybe you need to escape like `<\/body>`?

[2015-04-01 13:08] jeud commented on #34
@webpro I have tried to worked around using `<\/script>`, `&lt;/script&gt` but still not get it working, these escape characters did not get transformed into to `</script>` when they are surrounded by `<script type="text/template">...</script>`

[2015-04-01 14:19] webpro commented on #34
I think the problem is not in reveal-md. Please see https://github.com/hakimel/reveal.js/issues/797 and https://github.com/hakimel/reveal.js/issues/1157. Closing this here, but feel free to discuss further.

[2015-04-01 14:19] #34 closed

[2015-04-02 19:37] jeud commented on #34
Thanks :)

[2015-04-15 06:01] devinshields commented on #24
``--publish`` is what I'm looking for, similar to ``make html`` found in [python's sphinx tool](http://sphinx-doc.org/tutorial.html)

markdown -> render -> gh-pages is really powerful, mostly because it's so easy.

[2015-04-20 12:22] piranna opened #35 "Support effects"
Add support for [slide transition](https://github.com/hakimel/reveal.js#slide-transitions) effects and more specially [fragment](https://github.com/hakimel/reveal.js#fragments) effects (I use them too much and don't want to do my keynote in HTML :-P ). Seems this can be done using [HTML comments](https://github.com/hakimel/reveal.js#element-attributes), isn't it?

[2015-04-21 05:17] webpro commented on #35
So, what is your issue? The effects don't work with HTML comments?

[2015-04-21 07:51] piranna commented on #35
That seems there's no way to define effects with the markdown syntax of reveal-md, but maybe I missed the point: is reveal-md an augmented version of reveal.js markdown syntax, or is a "compiler" of reveral.js keynotes from markdown formatted files? At least this is the impression that give the docs...

[2015-04-22 03:12] webpro commented on #35
The reveal-md just hooks into the [Markdown features of reveal.js](https://github.com/hakimel/reveal.js#markdown), so you can write Markdown only (without any HTML such as `<section>` and `<script>` tags), and also acts as a simple service to serve the results. Do a "view source" on a rendered Markdown file and it might make things more clear.

[2015-04-22 08:55] piranna commented on #35
I see, so there's no extra markdown features besides the ones or reveal.js and it only to craft the keynote without need to work with html at all (it's done automatically) and host them. Anyway, it's a useful tool too, good job and thnks for your patience! :-)

[2015-04-22 08:55] #35 closed

[2015-05-13 10:53] pburkholder opened #36 "How do I add custom themes?"
How do I add custom themes when using reveal-md? Not sure how to connect what's here with what's in https://github.com/hakimel/reveal.js/blob/master/css/theme/README.md

Any pointers are recommended.   Thanks, Peter

[2015-05-13 11:10] webpro commented on #36
This seems to contain the information you're looking for: https://github.com/webpro/reveal-md/search?utf8=%E2%9C%93&q=theme, i.e. "theme" is an option you can use and it should match with one of the available reveal.js theme stylesheets.

[2015-05-13 15:33] pburkholder commented on #36
Thanks. That was enough of a hint that I could place them (in OsX) `/usr/local/lib/node_modules/reveal-md/node_modules/reveal.js/css`

[2015-05-13 15:33] #36 closed

[2015-06-16 14:41] grigio commented on #22
An alternative is to print to PDF via `http://localhost:1948/slides.md?print-pdf` it works

[2015-06-19 06:49] #20 closed

[2015-06-19 06:49] #22 closed

[2015-06-19 06:50] #24 closed

[2015-06-19 06:50] #30 closed

[2015-06-20 23:06] agonzalezro commented on #24
Was this closed because it was fixed or for cleaning the open issues?

I just started using your project (thanks!) and I would like to generate a `.html` file that I can use in my `gh-pages`. It doesn't look like there is an easy way of doing that at the moment.

Could you perhaps add some workaround explanation to the `README.md`?

[2015-06-21 06:41] webpro commented on #24
It was a cleanup round indeed, apologies for not making that clear. I'm
happy to re-open if somebody offers an actual solution or work-around.

On Sunday, June 21, 2015, Alexandre González <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-07-12 10:17] mandeeps708 opened #38 "Can't use reveal.json"
I placed the reveal.json file in the `~/reveal-md/demo` and also in `~/reveal-md`. Then I executed `reveal-md a.md` from the demo directory. This gives the following error:

---

I cloned from `https://github.com/webpro/reveal-md/` 0.0.19 and followed the README installation guide. Also copied text from the configuration file you linked from [hakimel/reveal.js](https://github.com/hakimel/reveal.js

[2015-07-12 10:41] #38 closed

[2015-07-12 10:41] webpro commented on #38
Hopefully the update in the readme I just did clarifies it. Let me know if you still have issues.

[2015-07-12 12:39] mandeeps708 commented on #38
Yes. Thanks for the quick action.
Actually I was writing `Reveal.initialize({` things. Now I came to know that I've to write only properties.

[2015-07-14 07:16] mandeeps708 opened #39 "Modifying data-transition"
I wrote
`"backgroundTransition": "slide",`
in reveal.json
and then I try to override it by `data-background-transition="convex"`. But it's not working.

[2015-07-14 07:18] webpro commented on #39
That sounds like an issue you're having with reveal.js itself. Or, please provide more details (such as the HTML being rendered, what exactly is not working, etc.).

[2015-07-14 07:30] mandeeps708 commented on #39
I typed in a present.md file:
[code]

Also had written the following in the reveal.json file:
[code]

When I run the `reveal-md present.md` then the `slide` transition (i.e. in the reveal.json) works not the `convex` one.

[2015-07-14 10:15] webpro commented on #39
I think this is about reveal.js itself. reveal-md just passes the options to reveal.js (see `{{{options}}}` in https://github.com/webpro/reveal-md/blob/master/template/reveal.html).

[2015-07-14 11:39] jeud opened #40 "Does reveal-md support fragment ?"
Q 1. Can I do fragment using pure markdown ?
e.g.
This is my list
- Item 1
- Item 2
- Item 3

Q 2. Can I override style sheet e.g. specify my own *mystyle.css* ?

[2015-07-14 12:01] webpro commented on #40
1. #21
2. #37

[2015-07-14 13:07] jeud commented on #40
@webpro thanks for your reply, I have solved my Q1 with your help, but I still don't understand about how to solve Q2. (Sorry that I have too little background about this)

In case that I just want very small customized style sheet (not really a custom theme) e.g. `img { border: none; }`

Is there really easy way about how to hook *mystyle.css* into the slide ?  If not so would you please explain

[2015-07-14 13:29] webpro commented on #40
You either need to provide `--theme` as a string (e.g. `"black"`), or a path to your own CSS file.

So, unfortunately, you can't _add_ your own stylesheet. You would need to get a theme, modify it, and link to it using the `__theme` option.

Of course you are welcome to fork/PR to make `reveal-md` to what you want it to do.

[2015-07-14 13:31] jeud commented on #40
Thanks for the answer, I would be happy to close this issue.

[2015-07-14 13:31] #40 closed

[2015-07-18 13:50] jdwolin opened #41 "Feature Request: tag or directive to exclude a block of markdown from slide creation"
This is a great project - exactly what I was looking for!  I think many users could benefit from a custom syntax (much like your slide separator --- ) that elminates a block of markdown from the slide creation.  This way slides could be parsed out of a larger text document eliminating the need for a separate slides document.  This would be an awesome feature!

Another feature idea would be to add

[2015-07-18 13:59] webpro commented on #41
Thanks, good to hear it's useful. Feel free to submit a PR!

On Saturday, July 18, 2015, jdwolin <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-07-18 17:18] mandeeps708 commented on #39
I took the following code from the `reveal.js` and added the attribute `data-transition="zoom"` into the `section` tag. This (zoom effect on first slide) didn't work with reveal-md, but it worked fine on reveal.js.

[code]

Can you please help me with this?

[2015-07-20 19:25] webpro commented on #39
Does any HTML inside your Markdown get rendered properly?

[2015-07-20 19:29] mandeeps708 commented on #39
Yes the above section works fine except the transition.

[2015-07-22 07:07] webpro commented on #39
I just checked, and a nested `<section>` is generated from the Markdown (the slide separator + the custom HTML `<section>`). I guess reveal.js still picks up the background color, but does not override the transition per slide.

[2015-07-23 06:59] mandeeps708 commented on #39
Now, is there any hack that would make it work?

[2015-07-23 07:01] webpro commented on #39
Not sure, you'd need to dig into the reveal.js codebase. I'm closing this for now.

[2015-07-23 07:01] #39 closed

[2015-07-23 07:03] mandeeps708 commented on #39
Can you please point me to a particular section to look for?
Thanks for the help.

[2015-07-23 07:05] webpro commented on #39
https://github.com/hakimel/reveal.js#markdown & https://github.com/hakimel/reveal.js/blob/master/plugin/markdown/markdown.js

[2015-07-23 07:05] mandeeps708 commented on #39
Thank you :+1:

[2015-07-27 16:01] mandeeps708 commented on #24
Is there any way out to have my presentation saved on disk?
In which file I should edit
[code]
according to @maxlath

[2015-07-27 17:09] webpro commented on #24
Or simply a "save page" in the browser.

[2015-07-27 17:20] mandeeps708 commented on #24
But nothing was rendered on the browser when I opened the saved HTML document.

[2015-07-27 19:29] jdwolin opened #42 "undefined error when using --print option"
I have successful setup and run the --print option on my laptop but when I run the same option on my desktop I get the following error.

![image](https://cloud.githubusercontent.com/assets/13121908/8915637/70736a74-3463-11e5-84c6-421cb76d11ba.png)

I have installed phantomjs, colors, mustache.  Thoughts on why it's throwing the error?

[2015-07-27 20:01] webpro commented on #42
Screenshot looks like Windows, right? Do you also run Windows on your laptop?

[2015-07-27 20:30] jdwolin commented on #42
yes, windows on both machines.  Same OS on both machines.

[2015-07-30 04:33] raghur opened #43 "Nested list isn't rendered correctly"
[code]
produces

![2015-07-30 10_04_39-reveal js](https://cloud.githubusercontent.com/assets/516267/8975867/1d3b164a-36a2-11e5-85f6-4234a625f902.png)

see how the first nested point has moved out to the outer list? Happens with `-`, `*` etc.

[2015-07-31 05:26] mandeeps708 commented on #24
Is there another way out?
Can you give me solution that was used by @maxiath?
I mean which file to modify to be able to render html.

[2015-08-01 14:35] jdwolin commented on #42
If it helps at all, I'm using Windows 10 on both machines?

[2015-08-02 19:57] webpro commented on #42
Sorry, I don't have access to a Windows machine atm. It's most likely an issue related to this [PhantomJS](https://github.com/webpro/reveal-md/blob/335d0c9171f9ada591b7244c081c8abc23cb3f2b/bin/server.js#L63-L83) process.

[2015-08-07 04:32] raghur commented on #42
@jdwolin  - just ran into this myself. Fix is simple - install phantomjs globally with `npm install phantomjs -g`
Maybe your laptop somehow had that installed before.

[2015-08-11 22:35] jdwolin commented on #42
@raghur -Thanks for trying to help!  I have installed phantomjs globally on both machines; I have double checked the environmental variables and path to ensure they are running properly.  Everything checks out but it still throws the "undefined" error.  Still a bit stumped

[2015-09-14 02:17] jossemarGT commented on #36
Hi! Just in case someone else stumbles with the same scenario. Since `reveal-md#0.0.19` you can add a custom theme directory, like this `<slides directory>/theme/datheme.css` and then pass the `-t datheme` argument to the cli.

@webpro do you mind if make a PR just to add this to the `README.md` file?

[2015-09-14 06:01] webpro commented on #36
@jossemarGT please do! Thanks in advance.

[2015-09-16 22:25] asifm opened #45 "Feature request: command line options in file"
It'd be nice to store the desired command line options in a file (maybe the same reveal.json options file?) so that one doesn't have to type, for example, `--theme solarized --separator '\n\n\n'` if one always wants those options for an md file. Those stored options will be overwritten when mentioned explicitly on the command line.

[2015-09-17 15:31] webpro commented on #45
You can put options in a `reveal.json` file: https://github.com/webpro/reveal-md#options.

[2015-09-17 17:15] asifm commented on #45
But can you include these command line options in that file? I tried and it didn't work.
[code]

[2015-09-19 10:12] webpro commented on #45
That's a bummer. Apparently in `reveal.json` you can only provide options that will be passed to reveal.js.

The options handling is a bit messy. If anybody wants to pick that up and submit a PR, that would be appreciated.

What you can always do is simply create an alias, this is exactly what they're for. E.g. in a Unix-y environment:

    alias rmd="reveal-md --separator '\n\n\n'"

[2015-09-21 17:46] bclinkinbeard opened #46 "Doesn't work with npm v3"
npm 3 uses a flat node_modules directory, so the hard coded path of `__dirname + '/../node_modules/reveal.js'` in `server-cli.js` is invalid. There are likely other places where this will be an issue as well.

`require.resolve()` may be the (only?) way to resolve the issue.

[2015-09-22 06:17] webpro commented on #46
Thanks for catching this, @bclinkinbeard. There's some ugly path resolving going on in general, so I'll take a look at this soon.

[2015-09-22 18:56] #46 closed

[2015-09-22 18:57] webpro commented on #46
Should be fixed in [v0.0.22](https://github.com/webpro/reveal-md/releases/tag/0.0.21).

[2015-09-22 19:17] webpro commented on #46
Sorry I screwed up, v0.0.22 should be OK :-)

[2015-09-27 02:47] neuromusic opened #47 "Feature Request: export to HTML"
I love using reveal.md & how it lets me go quickly from outline to a presentation. However, then I find myself wanting to more carefully tweak a presentation & I want access to the full HTML.

I'd love to be able to run `reveal-md slides.md --html` and get a directory called `slides` with an HTML file & required assets.

[2015-09-27 04:45] webpro commented on #47
Not sure if I understand. You can provide a directory and see the Markdown
files. What exactly do you need?

On Sunday, 27 September 2015, Justin Kiggins <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-09-27 08:15] mandeeps708 commented on #47
As I understood, he wants a feature to `export` the presentation `as HTML`. Once the required command is fired, all the `necessary files`(CSS, JS, images etc.) should be stored in a different directory along with an `index.html` file.
It would be useful for porting the presentation to a different computer(that don't have nodejs and reveal-md) and present it just by double clicking index.html in br

[2015-09-27 08:31] neuromusic commented on #47
yes, exactly.

[2015-09-27 10:13] webpro commented on #47
OK thanks for explanation.

The browser has a "Save page" option that does the same?

On Sunday, 27 September 2015, Justin Kiggins <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2015-09-27 11:18] mandeeps708 commented on #47
No. I tried it once, and I got a blank page(on Chrome at least).
@neuromusic Can you please try again and tell?

[2015-09-28 07:54] webpro commented on #47
What exactly where the issues? Because if we would have an "export to HTML" feature, it would do pretty much the same, right?

[2015-10-10 21:19] jossemarGT commented on #36
@webpro there you are #48

[2015-10-20 02:12] rapilabs commented on #47
Would be awesome to just auto gen HTML with a command then push up on gh-pages!

[2015-10-20 02:27] rapilabs commented on #47
Saving as a complete web page from Chrome doesn't work.

A few links to resources seem to be generated on the fly with paths like `/plugin/markdown/marked.js`. Saving HTML from Chrome flattens everything in a folder named after the file you save the HTML to and rewrites all the references it found from `<script>` and `<link>` tags.  This rewrite step would be missing the paths embedded in js.

[2015-11-11 21:31] jsanz commented on #47
wow yes, an option to export the presentation as a static HTML instead of starting a server would be really awesome!! :+1:

[2015-11-13 16:06] DanielJonesEB opened #49 "Background image for single slide?"
How do I set the background for an individual slide? I've tried using HTML within a .md document, but that seems to end up with nested `slide` tags in the rendered HTML, and no background image is visible. Any ideas?

[code]

[2015-11-15 19:10] webpro commented on #49
I think the issue is that `---` creates a slide (`<section>` tag), and then the nested slide `<section data-background>` is not parsed by reveal.js. So I'm afraid it's not possible to do it this way.It would require some new custom syntax in reveal-md to get such attributes in the created slide(s).

[2015-11-17 02:54] bmcminn commented on #49
I think having the slide generator create a unique ID for the slide would allow you to use a CSS `background-image` to potentially solve this.

[2015-11-21 12:14] webpro commented on #49
Thanks @bmcminn, that's a good idea.

@EngineerBetter would that help? I.e. each slide would get a named `id` attribute taken from e.g. `Slide: slide-name` annotation in the Markdown.

[2015-11-23 15:19] garaud opened #50 "Add reveal-js plugins and other dependencies"
Hi,

Is there a way to add some reveal-js plugins or other Javascript dependencies from reveal-md? I know you can use the `dependencies` variable in the `initialize` call as described [here](https://github.com/hakimel/reveal.js/blob/master/README.md#dependencies)

I would like to use some charts js libs in my slides. Maybe it's simpler if I don't use reveal-md and write a *pure* HTML + JS reveal f

[2015-11-23 15:25] webpro commented on #50
With reveal-md, indeed you need to add dependencies in the page template (https://github.com/webpro/reveal-md/blob/master/template/reveal.html). You could fork this into e.g. "reveal-md-charts" and add them.

[2015-11-25 19:43] #41 closed

[2015-11-25 19:44] webpro commented on #42
Closing due to inactivity.

[2015-11-25 19:44] #42 closed

[2015-12-27 04:24] ismith opened #51 "Attempting to print without phantomjs installed should provide a better error"
This was the error I got:
[code]

A more verbose message ("Couldn't find phantomjs, install that and try again") would have been helpful.

[2015-12-27 04:26] ismith opened #52 "Console output for --print is incorrect about the output filename"
[code]

File created is actually `test.pdf`, not `test.pdf.pdf`.  (Same result with `--print test.pdf`.)

[2015-12-30 21:41] #52 closed

[2016-01-12 12:45] dacr opened #54 "links are not exported by the print option"
All links available within the slides using `[a link](http://www.google.com)` are not available inside the generated PDF. We can only see the link text in blue but nothing to click on.

[2016-01-14 17:21] gabrielem commented on #49
@webpro yes it is a good way to sovle the problem, I'm just thinking... when it will be available? :)

[2016-01-17 20:39] webpro commented on #54
Hi @dacr, that seems to be a problem with PhantomJS. Not much I can do, but I'd be happy to look at it if there are more resources/information available regarding this.

[2016-01-17 20:39] #54 closed

[2016-01-17 20:41] #51 closed

[2016-01-17 20:42] webpro commented on #51
Thanks @ismith, I just added a brief message.

[2016-01-17 20:55] webpro commented on #49
My solution wouldn't be hard, it would require a PR in reveal.js, in the [Markdown plugin](https://github.com/hakimel/reveal.js/blob/master/plugin/markdown/markdown.js). If anybody's up to it, I'd be happy to update to a new version of reveal.js.

Another option is to use a custom theme with reveal-md, and then use something CSS like `:nth-child(n)` to apply background to individual slides.

[2016-01-18 13:46] garaud commented on #50
Hi,

Sorry for the delay. I'll do that thanks

[2016-01-18 13:46] #50 closed

[2016-01-23 17:29] xy124 commented on #47
I guess I did something like this now :)
use e.g.
`reveal-md example.md --static > reveal.js/index.html`
As you see you have to download the [reveal.js](https://github.com/hakimel/reveal.js/) to some place and extract the folder to save the exported static html pages right there.

The pull request is this: #55

Maybe some one wants to build something that compiles all assets into one single html f

[2016-01-23 18:12] extropianer commented on #49
@EngineerBetter did you try using the [slide attributes](https://github.com/hakimel/reveal.js#markdown)?
For me using a `` after the slide separator adds a background image.
Came across that feature when I was going to do a PR for custom IDs. Looks like it's not necessary though :)
This way you can also add `id="slidename"` tags to a specific slide.

[2016-01-24 00:49] bmcminn commented on #49
@extropianer Good find :) May be able to close this afterall :P

[2016-02-05 01:10] wwoods opened #56 "Update reveal.js to 3.2.0"
As title.  The new version has fixes for e.g. page numbers when print-pdf is used, so bumping the version would be good.

[2016-02-05 09:00] webpro commented on #56
Thanks for the notics @wwoods. Would you mind trying the new version and then submitting a PR to update it in reveal-md?

[2016-02-27 19:57] tommardh opened #57 "Instruction for vertical slide separator is not correct"
In readme.md you can read:

Override vertical/nested slide separator (default: \n----\n):
reveal-md slides.md --vertical "^\n\n"

The command should be:

reveal-md slides.md --verticalSeparator "^\n\n"

[2016-03-01 20:28] #57 closed

[2016-03-01 20:34] #56 closed

[2016-03-04 22:33] jjasghar opened #58 "Maybe a link on the README.md?"
I created https://github.com/jjasghar/reveal-md-cookbook to help get reveal-md up and running as quickly as possible.

Could it be possible to get a link in the README to that cookbook?

[2016-03-11 10:30] grigio commented on #49
@anoff Thanks!
Maybe these tricks should be mentioned in the docs

[2016-03-23 10:32] Kedrigern opened #60 "Title tag for presentation"
I am missing option to use own title text (`<title></title>`). Is there some way? If isn't it would be great improvements.

[2016-03-23 12:12] webpro commented on #58
Hi @jjasghar. To be honest, I'm not sure what your project adds on top of reveal-md. It seems to be a Chef cookbook? Could you please explain the advantage(s) in one sentence?

[2016-03-23 12:13] webpro commented on #49
I've merged @anoff's PR, so I think this can be closed. Any ideas still welcome of course.

[2016-03-23 12:13] #49 closed

[2016-03-23 12:21] jjasghar commented on #58
"Setup or deployment  can be hard, this automates the process."

[2016-03-23 12:24] webpro commented on #58
Yes I've seen that, but for users of reveal-md (including me) that don't know about Chef (it's a Chef cookbook, right?), might not have a clue as how to install and/or use your project. I for one had no idea, and still don't have.

[2016-03-23 12:28] jjasghar commented on #58
I respect that. I just thought it might help, if you want I can write up some detailed usage docs, or you can just close this out.

[2016-03-23 12:37] webpro commented on #58
OK thanks. I'm closing this one, but feel free to open a PR in this repo with a link to your project once you feel it's also useful for people not familiar with e.g. cookbooks.

[2016-03-23 12:37] #58 closed

[2016-04-05 14:11] jarandaf commented on #2
Might be interesting to include a "statics" folder feature. I can think of multiple presentations sharing same resources (images, css, etc.), and with the current approach, every one should include them separately in the same related `.md` file folder.

[2016-04-06 07:53] webpro commented on #2
@jarandaf I'm open for a PR to include this feature.

[2016-04-20 03:43] HoverBaum commented on #47
A bit more on the issue with `Ctrl + S` and temporary solution.

Using `Ctrl + S` I get a website referencing resources as such:
`<link rel="stylesheet" href="./Reveal_files/reveal.css">`

Using `Ctrl + U` to view at the source of the page the link becomes:
`<link rel="stylesheet" href="/css/reveal.css">`

Now the later I can save to an `index.html` and put it in a folder with the `reveal.js` reso

[2016-04-28 18:51] webpro commented on #60
I'm happy to accept a PR that includes this feature.

[2016-05-01 12:40] skorokithakis commented on #47
Thanks, @xy124. I installed this library thinking I could export to HTML, but it's not useful to me if it can't. I'll try using your fork for now, thanks again.

[2016-05-11 19:28] #47 closed

[2016-05-19 09:56] dacr opened #62 "0.0.26 broke my slides - linked to slides md file placed into subdirectories..."
[code]

**OK** for test.md all resources are found
**NOK** for slides/test/test.md, all resources are missing.

I would say that within the generated html, some slashes are missing :

[code]

with `/css/reveal.css` and so one it should work...

[2016-06-01 17:46] juanda99 commented on #62
Any solution?
0.0.25 doesn't work either.
Thank you!

[2016-06-02 12:44] qbikez commented on #42
I stumbled upon this error today. `server.js` assumes nested layout for `node_modules`, but npm3 uses a [flat layout](https://docs.npmjs.com/how-npm-works/npm3).

a quick workaround: changing this in `server.js` helped (around line 33):
[code]

[2016-06-04 12:50] lbischof opened #63 "Add Watch option"
It would be nice to be able to specify `--watch` and have it auto reload when changes are made. This would simplify writing a presentation. What do you think?

[2016-06-04 15:09] bufferoverflow commented on #60
@webpro could you have a look at MR #61

[2016-06-06 11:09] juanda99 commented on #62
@dacr you were right
#64 fixes the issue

[2016-06-06 11:37] lbischof opened #65 "Specify theme with http url"
Would it be possible to allow urls for the --theme option? Then it would be possible to use custom themes from within any third-party repository and have them auto update. Simply download the css file and put it in the correct directory. I don't exactly understand how the custom theme code is implemented.

[2016-06-07 17:40] #60 closed

[2016-06-07 17:48] webpro commented on #63
I think it's a nice idea, but honestly I'm not too interested in implementing it myself. So if anyone is up to it, I'm happy to consider and merge it.

[2016-06-07 17:48] webpro commented on #65
I think it's a nice idea, but honestly I'm not too interested in implementing it myself. So if anyone is up to it, I'm happy to consider and merge it.

[2016-06-07 19:22] lbischof commented on #63
I think only grunt supports watch? I guess it would be harder to add this to the cli tool.

[2016-06-08 17:19] RangerMauve opened #67 "Three level headers should go down"
Since reveal JS has a way to go up and down in the slides, I think it would make sense to make use of this by having `##` second level headers add more slides to the right, and have `###` three level slides nest further down.

[2016-06-19 19:02] webpro commented on #67
Not sure what you mean. The (vertical) slide separators can be used to add slides to the right (`---`) or bottom (`----`). Or do you mean something else?

[2016-06-19 19:13] RangerMauve commented on #67
OH.

I somehow missed that point. :P My bad.

[2016-06-19 19:13] #67 closed

[2016-06-19 19:24] webpro commented on #67
No problem!

[2016-07-03 20:52] november-eleven opened #69 "Bug with 0.0.29 and --static"
Hello,

There is a bug with the latest release of reveal-md when you use the `--static` option.

For example, with this command:

[code]

It produces this stack:

[code]

I've "fixed" this issue by hacking fillOpts using this code:

[code]

Since I'm not an expert in JS, I let you fix this issue as you prefer.

Thank you in advance.

[2016-07-14 06:41] webpro commented on #69
Should be fixed by #70 now in [0.0.30](https://github.com/webpro/reveal-md/releases/tag/0.0.30).

[2016-07-14 06:41] #69 closed

[2016-07-14 06:42] webpro commented on #65
Done with #66.

[2016-07-14 06:42] #65 closed

[2016-08-02 07:23] gauravarora commented on #67
@webpro is there an example of vertical slides somewhere?

[2016-08-03 02:49] tim-c-smith opened #72 "Build Error (on windows 10, with VS 2015)"
While running the commmand

`npm install -g reveal-md --python=D:\Python\Py27\python.exe`

I get the following error (despite having downloaded and installed WDK8.1)

[code]

[2016-08-04 07:37] webpro commented on #67
Yes, it's at https://github.com/webpro/reveal-md/blob/master/demo/a.md

[2016-08-04 21:30] webpro commented on #72
Hi @tim-c-smith. I'm sorry, I have no idea how I can help you out with this. I'm not running Windows myself and I'm also not sure how this is specific to reveal-md. I'm going to close this issue, but feel free to re-open if you feel otherwise.

[2016-08-04 21:30] #72 closed

[2016-08-10 06:43] firoozye opened #73 "Internal links"
I have tried the HTML version for internal links
`<a href="#/some-slide">click for some-slide/a>`

but

`<section id="some-slide">`

seems to have no effect except to tag the first page of the presentation.  Strangely, `<section>`  has an influence for other attributes but not for id. Or does this work in some other form? I haven't looked through the code thoroughly enough so I don't know if this

[2016-08-11 19:35] firoozye commented on #72
I followed the install directions here and had no trouble: [PandaScience: How 2 Install Reveal.js on Windows 10](https://pandascience.net/doku.php?id=how2:revealjs). After, installing reveal-md was quite easy.

[2016-08-12 11:59] firoozye commented on #12
@webpro Fragments seem to be a very useful way of presenting. Reveal-md already adds to MD by giving ```---``` and ```----```  other meanings, I would think it makes sense to add a special character or characters to introduce fragments, i.e.,

[code]

I would think it's feasible but only viable if there are some limitations, i.e., the bullets get displayed sequentially.

In reveal.js you can choos

[2016-08-14 04:40] andyhall opened #74 "static output: script link broken when serving from folder"
When static output is served from a subfolder, links to any scripts get broken (since the template sets an absolute link to `/scripts/script.js`).

Submitting a PR for this momentarily.

[2016-08-29 10:37] firoozye opened #76 "Speaker notes always print"
While ^Note: should indicate speaker notes, even when the .reveal option is explicitly set not to show, I find that speaker notes sometimes do get shown.

Is this an issue others have had? I have experimented with putting notes at the beginning and at the end of slides. The only thing that truly is ignored is HTML comments i.e. ,
``

[2016-10-04 12:15] kevinsimper commented on #43
Why would your nested list start with 2? However I don't think this is related to reveal-md but more reveal.js :)

[2016-10-09 20:58] tommardh commented on #45
There is a pull request, "Add support for YAML front matter in md files", that provides a solution for this. It would be great to get this into reveal-md.

[2016-10-11 12:42] majkinetor opened #78 "gyp ERR! stack Error: Python executable is v3.5.2, which is not supported by gyp."
Hi

For what part of this is python2 actually required, because I just run `reveal-md demo` and it seems to work fine ?

[2016-10-15 10:30] paddelkraft commented on #45
coming from the world of Static site generators it felt natural to add YAML front matter support to the .md files so i did this way you can set the properties you want for your presentation in the md file itself.  The pull request has been sitting for 10 days without any action. im considering forking reveal-md toget this functionality out in the wild.

[code]

[2016-10-15 16:19] webpro commented on #43
What @kevinsimper said, so I'm closing this one.

[2016-10-15 16:19] #43 closed

[2016-10-26 07:55] webpro commented on #78
Looks like the `bufferutil` package has  `gyp` install routine, @majkinetor. Is this still an issue?

My output (warnings but no errors):

[code]

[2016-10-26 07:55] #78 closed

[2016-10-26 08:19] majkinetor commented on #78
The same happens with reveal-js so its not reveal-md specific.

[2016-10-28 14:40] rswhiting opened #79 "New Feature: support for multiple presentation folders"
I'd like to run reveal-md on a parent folder to list out multiple presentation folders (to avoid mixing images etc). Currently, reveal-md will display the .md files in sub-folders, but when I click on them, the presentation won't render, it shows a white screen.

[2016-11-04 12:53] webpro commented on #45
Going to close this one, as the YAML PR was merged/released.

[2016-11-04 12:53] #45 closed

[2016-12-05 16:57] anoff commented on #42
@webpro i can confirm @qbikez finding
Sierra 10.12.1
node 6.8.1
npm 3.10.8

Any preferred solution how to handle this? I'm willing to PR

[2016-12-07 07:15] webpro commented on #42
@anoff Thanks for helping out. I'm OK with simply assuming npm v3 (we could even put this requirement in [package.json](https://docs.npmjs.com/files/package.json#engines)).

[2016-12-08 15:44] jat255 opened #80 "TypeError when using reveal.js-menu script"
Hi there,

When calling `reveal-md` with the following:

[code]

I get the following error:
[code]

And the menu plugin does not work as expected.

Here is my setup:
[code]
[code]

[2016-12-11 11:11] webpro commented on #62
I've made an attempt to fix this with v0.0.32 I've just released.

[2016-12-11 11:11] #62 closed

[2016-12-11 11:12] webpro commented on #74
I've made an attempt to fix this with v0.0.32 I've just released.

[2016-12-11 11:12] #74 closed

[2016-12-11 11:12] webpro commented on #79
I've made an attempt to fix this with v0.0.32 I've just released.

[2016-12-11 11:12] #79 closed

[2016-12-11 11:17] webpro commented on #80
The location of `reveal.js-menu/menu.js` is resolved from the path where the command is issued (not from the `node_modules` folder). Does that help?

[2016-12-12 15:47] jat255 commented on #80
Unfortunately, no. I have the script file in the right place and the command is finding the script perfectly fine, but it's complaining on that call to `res.sendFile`.

[2016-12-13 20:33] webpro commented on #80
If I put a simple `console.log(1)` in that script, it _works in my machine™_. Please provide more information, otherwise there's not much I can do.

[2016-12-14 15:58] jat255 commented on #80
I can't figure out why it's not working either. I just forked the repo and added the plugin to the  `template.html` file, which worked for me.

[2016-12-14 15:58] #80 closed

[2017-01-16 10:56] drasko opened #81 "Serving on remote host - still serves localhost"
Hello,
trying to serve Reveal-md on one CentOS remote host I am getting inside browser:
[code]

On Debian remote host it works fine... Any ideas what's wrong?

[2017-01-17 10:27] dpauli opened #82 "Can't use two code blocks without text before"
I have a problem with showing code blocks. The following syntax does not work:

    ## Some heading
    ```Code Number 1```

    text before ```Code Number 2```

What works:

    ## Some heading
    text before ```Code Number 1```

    text before ```Code Number 2```

[2017-01-17 10:32] dpauli commented on #82
Ah, I need to use

    ## Some heading
    `Code Number 1`

    text before `Code Number 2`

[2017-01-17 10:32] #82 closed

[2017-01-24 15:02] erikmueller commented on #81
Same here on Ubuntu. Is there a way to bind to `0.0.0.0`?

[2017-01-24 15:55] drasko commented on #81
Yes, `--host` seem to be answer to the problem. Closing the issue.

[2017-01-24 15:55] #81 closed

[2017-02-07 20:23] webpro commented on #73
You can have internal links, you can check out https://github.com/webpro/reveal-md/blob/master/demo/sub/deep/d.md.

[2017-02-07 20:23] #73 closed

[2017-02-07 21:02] webpro commented on #63
I've released this in v0.0.34.

[2017-02-07 21:02] #63 closed

[2017-02-07 21:05] webpro commented on #76
Not sure if it's still relevant, but I'm going to close this one. If anybody still has issues regarding this, please let me know.

[2017-02-07 21:05] #76 closed

[2017-02-15 01:58] masasin commented on #12
@firoozye You could possibly do this:

    * This gets displayed first
        * This gets displayed at the same time
        + This gets displayed as a fragment, i.e., displayed second
        + This gets displayed third
        +! This gets displayed third too
        +2 This gets displayed after +1
        +1 This gets displayed after the third ones, but before +2
        * This gets displayed

[2017-02-15 16:34] shamrt opened #86 "Print functionality not working"
I've tried installing PhantomJS locally and globally (both `phantomjs` and `phantomjs-prebuilt`), but I get the following console message regardless:

[code]

[2017-02-15 16:34] shamrt commented on #86
Great work, by the way!

[2017-02-15 20:57] webpro commented on #86
Are you sure the phantomjs binary is in your path?

[2017-02-16 20:03] ncoghlan commented on #86
Thanks for reveal-md - it finally got me to upgrade from the software I was previously using to reveal.js :)

However, I'm seeing the same error message as @shamrt when attempting to print to PDF. Component version details:

[code]

Both `phantomjs` and `PhantomJS` are symlinks to a user-level installation of `phantomjs-prebuilt`.

[2017-02-17 02:32] ncoghlan commented on #86
I can also note that I got tracebacks rather than an undefined result when:

1. PhantomJS was missing
2. The display server was already running (and hence occupying the default local port)

[2017-02-17 02:59] ncoghlan opened #87 "Getting --static to work with a user level reveal.js installation"
Attempting to render a presentation as a self-contained reveal.js folder, I had to use the following tricks to get it to work:

- copy the reveal.js folder from ~/node_modules to the local directory
- stop using the YAML header feature to set the theme and page title
- generate the HTML with --static and pipe it to reveal.js/index.html
- search & replace in the generated file to convert `///` refe

[2017-02-17 03:00] ncoghlan commented on #86
Further data point: I'm using the YAML header feature to specify a title and theme:

[code]

When rendering with --static, reveal-md gets confused and treats that as part of the opening slide.

However, fixing that didn't fix the printing problem, so I filed a separate issue for the challenges I ran into with --static: https://github.com/webpro/reveal-md/issues/87

[2017-02-19 14:31] mlopezantequera opened #88 "data-background-video-loop doesn't work?"
I can't seem to get this to work as intended:

``

Is it only me?

[2017-02-20 09:40] webpro commented on #86
FYI, I'm working on a complete rewrite of reveal-md, and I will take open tickets into account.

[2017-02-20 09:40] webpro commented on #87
FYI, I'm working on a complete rewrite of reveal-md, and I will take open tickets into account.

[2017-02-20 21:41] webpro commented on #86
@shamrt @ncoghlan I've just released v0.1.0, could you please try again with the latest version? I have no idea if this fixes anything in this regard, but at least things should be easier to debug from now on.

[2017-02-20 21:44] webpro commented on #87
@ncoghlan I've just released a new v0.1.0.

Using `--static` (or `--static [dir]`) it should write out the whole static website into the `_static` dir, which can be served statically.

The code should also be easier to scan/read in case of any issues. Happy to hear your findings.

[2017-02-21 15:44] palexster commented on #86
I am also affected, having the same error message of @shamrt  and @ncoghlan
[code]
By the way, a very good work!

[2017-02-21 15:53] webpro commented on #86
@shamrt @ncoghlan Are you on *nux or Windows? I'm on MacOS, can't easily debug on something else.

[2017-02-21 17:14] shamrt commented on #86
I'm using MacOS. I'm not getting the `undefined` error anymore, but the printed slides are blank.

Here's the latest output log:

[code]

Here are [the generated slides](https://github.com/webpro/reveal-md/files/790882/slides.test.pdf).

Thanks for your help!

[2017-02-21 17:20] shamrt commented on #86
I should mention that, if I remove the `--theme` flag, the slides are populated. That said, the PDF doesn't render one slide per page; they tend to be grouped together.

[2017-02-21 19:39] webpro commented on #86
* The attached generated slides seem to render just fine in the Chrome browser.
* The generated slides with `--print` don't render nicely on the print pages indeed. Unfortunately, that's an issue with reveal.js itself. I've checked and things work fine with the current master/dev branch of the reveal.js package, but the fixes aren't released yet.

[2017-02-21 20:00] webpro commented on #88
This is working for me:

[code]

Make sure to leave a blank line between the separator `---` and the comment. Also, the attribute should have some value (I've used `"1"`).

[2017-02-22 15:45] shamrt commented on #86
Okay, given that's the case, I'd say this issue is resolved. Thanks for your help!

[2017-02-22 15:49] webpro commented on #86
Yes, I'll keep an eye on the reveal.js releases.

[2017-02-22 15:49] #86 closed

[2017-02-22 16:39] mlopezantequera commented on #88
Indeed, adding ="1" worked.

Thanks!

[2017-02-22 16:39] #88 closed

[2017-02-22 17:25] mlopezantequera commented on #87
On 0.1.1:

After generating with --static, I still had to do the following steps to get it to work.

- Renamed all references starting with `/` to `./`
- Copy all of my resources (images and videos) from the original location to the new location
- Renamed `css/theme/css/theme/serif.css.css` to `css/theme/serif.css` (For reference, my yaml preamble has this line:  `theme: css/theme/serif.css`

[2017-02-22 18:33] webpro commented on #87
* Currently, the generated index.html is expected to be at the root level (hence the `/` links). I will consider to make the links relative (ie. `./`).
* Indeed, you'll have to copy things yourself that this tool is not aware of.
* You should now use just `serif`.

[2017-02-23 07:23] ncoghlan commented on #87
Thanks for the update @webpro! As with @mlopezantequera, I needed to make the following updates:

* rename `css/theme/white.css` to just `white` in the YAML header
* find and add a leading `.` to the resource references (while the absolute references work with the local `reveal-md` server, the browser gets confused when opening the static version from a `file:///` URL)
* copy my `image` folder fro

[2017-02-23 22:30] webpro commented on #87
I've changed to base for url's to `.` in [v0.1.2](https://github.com/webpro/reveal-md/releases/tag/0.1.2), so that should make your lives slightly easier :-) Closing for now, let me know if you encounter any issues.

[2017-02-23 22:30] #87 closed

[2017-03-02 20:18] qsys commented on #50
Just a thought: wouldn't it be a possibility to deep-extend dependencies? This way, the base dependencies would be merged with user-defined dependencies, which is a lot easier than forking if one wants additional third party plugins.

[2017-03-03 09:15] webpro commented on #50
Hi @qsys, good idea, but how would that look like? Reveal.js plugins have a `src`, but also might have a `condition` or `callback` function (see https://github.com/webpro/reveal-md/blob/a0c4f7e12ea81f17c1757421dcd406ca71aaa11b/lib/template/reveal.html#L42-L50). Feel free to open a PR to show you'd like this to work.

[2017-03-03 10:49] qsys commented on #50
Hey, I have been looking at it for a while, but javascript doesn't seem to have merge/extend like this. I should override single-value attributes, and merge multiple-value attributes. Don't know yet how to do this easily in js.
For a first version of this feature, I'd just merge multiple-value attributes (like deps), without any other logic. In the future, there may be some more logic (like mergin

[2017-03-03 12:14] qsys commented on #50
... or another idea may be to use custom templates (replacing the one provided by reveal-md)?

[2017-03-03 14:50] webpro commented on #50
@qsys Adding the option to override the template sounds like a good idea to me :-)

[2017-03-04 13:23] SystemFw opened #90 "Cannot override highlight-theme from YAML front matter"
Hello,
First of all, thanks for creating reveal-md, it's amazing. I am having a problem overriding `highlight-theme` from the front matter. Given these test slides
[code]
Using `reveal-md ./*.md` displays the slide theme as solarized, but the code highlighting is still in zenburn;
`reveal-md ./*.md  --highlight-theme solarized-light` on the other hand works correctly.

Is there any reason why is n

[2017-03-05 09:41] webpro commented on #90
Hi @SystemFw, please try `highlightTheme`.

[2017-03-05 11:47] SystemFw commented on #90
That works, thank you very much.

[2017-03-05 17:15] #90 closed

[2017-03-09 06:09] digitalsatori opened #91 "not able to render link"
Not able to show Link defined  implicitly or explicitly as below:
[code]
[code]

[2017-03-09 19:20] MansM opened #93 "0.1.2 speaker notes are not working"
Got total blank screens, did work in 0.1.1

[2017-03-12 02:38] shadowhand opened #94 "Add custom styles"
I'd like to inject a custom stylesheet (eg: for using a Google Font) without having to make a custom theme. Can a `--styles` parameter be added?

💛

[2017-03-14 12:03] webpro commented on #94
Yes, I'm happy to check out a PR that adds this feature.

[2017-03-14 12:09] webpro commented on #91
The markdown plugin of Reveal.js uses [marked](https://github.com/hakimel/reveal.js/blob/master/plugin/markdown/marked.js). I don't think this issue is caused by reveal-md, but by reveal.js, the plugin, or the parser. Feel free to re-open to discuss.

[2017-03-14 12:09] #91 closed

[2017-03-14 12:47] digitalsatori commented on #91
I did another test. It seems that the parsing is OK. but the link will be generated only when the link definition is inside the same Section. In the below example, the link in `Section A` won't be generated while the link in `Section B` is good.

[code]

[2017-03-14 12:50] digitalsatori opened #95 "Reference link will be correctly generated only when the link definition is inside the same section"
this is refer to issue #91 . It seems that the parsing is OK. but the link will be generated only when the link definition is inside the same Section. In the below example, the link in Section A won't be generated while the link in Section B is good.

[code]

[2017-03-14 12:51] webpro commented on #91
Ah unfortunately, reveal.js parses markdown per slide (https://github.com/hakimel/reveal.js#markdown).

[2017-03-14 12:51] webpro commented on #95
Why did you open a new ticket? We can discuss in the other ticket (even if it's closed).

[2017-03-14 12:51] #95 closed

[2017-03-14 13:02] digitalsatori commented on #91
I tested reveal-ck(https://github.com/jedcn/reveal-ck <https://github.com/jedcn/reveal-ck>) which can render the link as I expected. But I like reveal-md better. Do you think we can do anything to support it?

thank you and best regards,

Tony

[2017-03-14 14:22] webpro commented on #91
You might have luck with the [preprocessor feature](https://github.com/webpro/reveal-md#markdown-preprocessor). The function receives the whole markdown document as the first argument, so you can parse it, before it is split into slides.

[2017-03-16 03:23] IvanJobs opened #96 "how to do sub slide?"
Hi,

I'm new here, if I want to add sub slide of reveal.js, how can I achieve that?

[2017-03-16 03:24] IvanJobs commented on #96
sorry, just a stupid question. I found answer in demo dir.

[2017-03-16 03:24] #96 closed

[2017-03-17 13:12] IronhandedLayman commented on #93
I can verify this bug. In addition, I get the following error on the console when going into speaker mode:
[code]

[2017-03-17 13:17] IronhandedLayman opened #97 "Slide printing not adding page breaks in the right spots"
When I attempt to print slides from reveal-md (0.1.2) using PhantomJS (version 2.1.1), the slides will go into a .pdf, but the page breaks are all wrong (slides are being broken by the page breaks).

[2017-03-17 13:31] webpro commented on #97
Yes, we're waiting on a reveal.js release for this (it's fixed in reveal's master branch).

[2017-03-29 02:13] digitalsatori commented on #91
Just noticed your answer, thank you very much. I referred your preprocessor example and managed to hack a dirty solution. I'm not a js coder but the code works 😄
[code]

[2017-03-30 03:18] digitalsatori opened #98 "reveal-md always concatenates the specified preprocess script with CWD"
When I run reveal-md in `~/My/Working/Path` similar like this
```reveal-md -m ~/other/path/to/script.js my_md.md```
the path for preprocess script ended like: `~/My/Working/Path/~/other/path/to/script.js`
my 2 cents, reveal-md should respect the path specified, prepend CWD only when NO path specified for the pre-process script.

BTW, in the project's README, it read `-P` for the preprocessor, shou

[2017-03-31 08:50] webpro commented on #98
Thanks for the catch, @digitalsatori. I've updated the readme. I haven't done anything about the `cwd` issue, but feel free to open a PR.

[2017-03-31 08:50] #98 closed

[2017-03-31 08:53] webpro commented on #93
What works for me: `reveal-md ./demo/a.md ` and then press `S` on the first slide. Also, I'm not seeing errors.

If you can post markdown and/or reproducible steps, I can take a look.

[2017-04-19 09:43] IvanJobs opened #101 "How can I add a multimedia slide here?"
Hi everyone,
I want to use reveal.js to make new kind of slides with more user interactions, for example user input, dragging, click and so on, how can I do that? as I know, reveal is just about text/picture, and normal animations, without user interaction.

[2017-04-20 09:55] Sigmun opened #102 "How to add reveal.js plugins ?"
Following the [Tool](https://github.com/hakimel/reveal.js/wiki/Plugins,-Tools-and-Hardware#tools) link provided in the Readme, I need to add some plugins in my slides (menu, charts,chalkboard...). How to proceed since reveal-md uses its own reveal.js ?

[2017-04-20 11:35] Sigmun commented on #101
I'm not sure but I think this is not a problem since you can write it in HTLM5/JS/PHP. Just include your html code as explained [here](https://github.com/webpro/reveal-md#custom-slide-attributes).
If it is not sufficient, you will need to go directly for writing your slides with [reveal.js](http://lab.hakim.se/reveal-js/)

[2017-04-21 19:36] paddelkraft opened #104 "Static site do not work with local images"
When generating static site the local images referenced from the md file is not copied. And thereby do not work. I have a solution for this turning them into datauris inlined in the index.html waiting as a pull request.

[2017-04-22 13:26] zerkalica commented on #97
Still not fixed, may be some workaround?

[2017-04-23 08:47] webpro commented on #97
Maybe you can ask the reveal.js maintainer(s) to release the latest changes, that should fix this issue.

[2017-04-23 08:49] webpro commented on #101
You could also include your own [custom scripts](https://github.com/webpro/reveal-md#custom-scripts). I'm going to close this issue, since I believe this is a bit out of scope for reveal-js/md. Feel free to re-open if you'd like to discuss things further.

[2017-04-23 08:49] #101 closed

[2017-04-23 08:52] webpro commented on #102
Currently reveal-md has no support for adding extra reveal.js plugins.

For what it's worth: these plugins are already included: https://github.com/webpro/reveal-md/blob/73d14763cbb3218d616a4c55f4eaf88341b25112/lib/template/reveal.html#L45-L53

I don't know how other (third party) plugins should be added, perhaps this feature is easy to add to reveal-md.

[2017-04-23 09:03] webpro commented on #104
Indeed, thanks for your PR! Let's discuss things [over there](https://github.com/webpro/reveal-md/pull/103).

[2017-04-23 09:03] #104 closed

[2017-04-23 09:35] zerkalica commented on #97
Ok, but i don't know which pr link. Can you link this issue with suitable reveal.js pr?

[2017-04-23 09:37] webpro commented on #97
Last time I looked, it was already in their master branch. Just not released yet.

[2017-04-24 09:18] zerkalica commented on #97
I found some issues in reveal.js, but don't sure that they related to this problem:

https://github.com/hakimel/reveal.js/issues/1648
https://github.com/hakimel/reveal.js/issues/1804

[2017-04-24 09:21] webpro commented on #97
Please try the following (psuedo):

[code]

Then try `reveal-md slides.md` on your slides.

[2017-04-25 14:40] paddelkraft opened #105 "Stand alone presentation + printout"
The way I use reveal-md is that i write notes of what i want to talk about and by doing that in markdown it is easy to pressent it. I love this way of working and it works fine as long as you do not need to share the presentations or you can host the presentation somewhere.

Unfortunately this is often not possible for me as the presentations might include potentially sensitive information and the

[2017-04-27 08:32] agrohmann opened #106 "white screen using docker"
absolute link to stylesheet does not work in container on current version
result is a white page

[code]

[2017-04-29 08:04] webpro commented on #105
Sounds like a good idea. Maybe something like [inliner](https://github.com/remy/inliner) can do this. I wouldn't mind if the static site generator always generates a single stand-alone file. This would replace #103.

[2017-04-29 10:00] webpro commented on #105
Just tried this, and inliner seems to work well (together with the inlined image feature), at least from the command line. From the generated site folder:

[code]

[2017-04-30 19:15] webpro commented on #106
You can try and set the `host` and `port` arguments.

[2017-05-01 11:19] IvanJobs opened #107 "How to use KaTex instead of MathJax?"
Hi All,
I think this may be a stupid question to many others but for me it's a headache right now.
My question is how to use KaTex instead of MathJax in revea-md.
In more general, How can I install 3rd-party plugins for reveal.js in reveal-md?
Thx in advance:)

[2017-05-01 23:19] deeuu commented on #97
Hi,

Printing is also no good for me. I tried the above but still no luck.

Note that print [example instructions](https://github.com/hakimel/reveal.js/#instructions-1) work fine.

Would you mind explaining the problem to me, please?

Thanks

[2017-05-02 08:26] paddelkraft commented on #105
Yes i got that to work also but it demanded that all references to js,css and font files that is suposed to be aligned needs to be referenced with proper html tags.

referencing all files from cdnjs seems like a much nicer solution

pull request will come soon

[2017-05-02 09:07] webpro commented on #105
Using a CDN would mean an internet connection is required, which means a serious breaking change in certain cases (firewalls, proxies, whatnot).

[2017-05-02 20:37] paddelkraft commented on #105
Now there is a pull request.

Did this with inliner first it was quite a hassle .
It needed a custom template and inliner creates some problems with base directories and so on to inline files.

in the  end  I chose this way as it saved 3.5 mb in file size and seemed like a much cleaner solution and i assumed most people would be connected and not have a problem with reaching a cdn, (i might be wro

[2017-05-03 03:43] IvanJobs opened #109 "Math equations render failed!"
HI all,

I'm using reveal-md to markdown my presentation. I have a bunch of math equations to write. Things went well until I encountered equation below:

it just cannot be rendered. But if I change to Mathjax official site, it was good.

 I made a little bit of modification:

This is ok in reveal-md.

Something must be wrong somewhere.

[2017-05-03 12:12] webpro commented on #107
Please see #102.

[2017-05-03 12:12] #107 closed

[2017-05-04 08:37] webpro commented on #109
FYI, I'm not sure why this last part `P_{m-1}` is problematic.

[2017-05-04 08:42] #106 closed

[2017-05-04 08:47] webpro commented on #93
Closing due to inactivity.

[2017-05-04 08:47] #93 closed

[2017-05-04 08:56] webpro commented on #94
This is released in [v0.2.0](https://github.com/webpro/reveal-md/releases/tag/0.2.0), thanks to @singingknight.

[2017-05-04 08:56] #94 closed

[2017-05-04 08:58] webpro commented on #105
OK let's discuss it over there (#108), I'll review it soon.

[2017-05-04 08:58] #105 closed

[2017-05-07 20:05] hholst80 opened #111 "speaker notes does not work"
# Input file

[code]

[code]

PS. reveal-md is getting devilishly popular! ;-)

![image](https://cloud.githubusercontent.com/assets/6200749/25784623/d9e8bc12-3370-11e7-9971-8631be46a17b.png)

[2017-05-07 20:52] hholst80 opened #112 "div tags and scripts"
Is this supposed to work? It would be very cool if we could include d3.js graphics inside our reveal-md presentations!

slide.md:

[code]

[code]

Example taken from http://benfred.github.io/venn.js/examples/simple.html

[2017-05-07 21:15] hholst80 commented on #109
Another repro

    $$
    S_m S_m
    $$

works.

    $$
    S_{m} S_m
    $$

works.

    $$
    S_m S_{m}
    $$

works.

But this breaks:

    $$
    S_{m} S_{m}
    $$

So its "definitely" something related to the curly braces and the _ operator. "S" can be any operator like \int or whatnot. The  ^ operator works just fine:

    $$
    \int^{a} \int^{b}
    $$

I think that this final example

[2017-05-08 08:54] davidka commented on #111
The notes do not work for me when I start with a parent folder.With a certain slide it works

[2017-05-09 00:29] mpacer commented on #98
I actually don't think the readme is updated. it still says `-P` when it should be `-m` based on https://github.com/webpro/reveal-md/blob/master/bin/cli.js#L38.

[2017-05-09 08:30] webpro commented on #98
You're right, @mpacer. If somebody would open a PR with this fix, that would be great.

[2017-05-09 08:32] webpro commented on #112
Yes, scripts are supposed to work. They're added as regular `<script src="venn.js">` tags in the markup at the end of the `<body>`: https://github.com/webpro/reveal-md/blob/master/lib/template/reveal.html#L73-L75

[2017-05-09 08:34] webpro commented on #111
If anybody feels like debugging this, that would be great.

[2017-05-09 19:12] webpro commented on #111
The provided markdown works fine for me, in any (sub) directory. Speakers notes visible after pressing "s". I'm going to close this issue until someone provides a reproducible test case.

[2017-05-09 19:12] #111 closed

[2017-05-09 19:18] webpro commented on #97
The required fix of Reveal.js has been released, just after my last comment. I've updated the dependency and this is released in [v0.3.0](https://github.com/webpro/reveal-md/releases/tag/0.3.0). Please let me know if PDF output is better now.

[2017-05-09 19:18] #97 closed

[2017-05-11 11:03] zerkalica commented on #97
Yes, bug fixed for me. Page breaks in pdf works fine.

[2017-05-11 11:12] zerkalica opened #113 "Multiple slideshows support"
I build some [workaround](https://github.com/zerkalica/articles/blob/master/bin/articles-builder) on top of reveal-md

I need automatically build static site with [multiple pages](https://github.com/zerkalica/articles/tree/master/docs), shared resources, pdfs, index page from [source directory](https://github.com/zerkalica/articles/tree/master/src).

Something like [lerna](https://github.com/lerna

[2017-05-11 11:45] paddelkraft commented on #111
i actually have the same problem on both my mac and my pc. What happens is that if i start  reveal-md like this `reveal-md` the `options.relativePath` is undefind  and throws the exception but if reveal-md is started with the reference to a specific file `reveal-md ptesentation.md` it works

[2017-05-11 20:02] paddelkraft commented on #111
@webpro
The problem is that `parsePath` is called with a query string
`pathArg="/demo/a.md?receiver&progress=false&history=false&transition=none&autoSlide=0&backgroundTransition=none&controls=false"
 when speaker notes is opened and `parsePath`cant find a file by that name it returns undefined

changing line 33 in `options.js parsePath`  into
 `const filePath = path.join(baseDir || process.cwd(),

[2017-05-17 21:21] webpro commented on #113
Hi @zerkalica. Interesting idea. If you will open a PR that basically does `--static` on a whole directory, I'm happy to look into it.

[2017-05-20 15:58] runeflobakk commented on #93
I too experience this, and I think I have figured out when it happens. If I start the server with `reveal-md slides.md` the speaker notes shows just fine, but if I just run `reveal-md`, without providing the name of my markdown file, I get the same exception as @IronhandedLayman.

[2017-05-23 06:32] safareli commented on #12
you can just write html in md. this will work:

[code]

[2017-06-12 11:39] slhck opened #115 "Including images from subdirectories"
Perhaps I'm missing something obvious, but I'm not able to include images from subfolders of the one where my slides are saved.

In my slides (`slides.md`) I have:

[code]

[code]

Seems that it's trying to serve the image from the same directory where `slides.md` is, but it's actually in a directory called `assets`.

[2017-06-12 14:02] webpro commented on #115
Thanks for reporting this. Looks like an issue with `imgPath` around https://github.com/webpro/reveal-md/blob/4655f9d82a0357e4171e0426b34b73455b6d5304/lib/static.js#L8-L28. If you or someone else could come up with a PR to fix this, that would be great.

[2017-06-12 14:25] slhck commented on #115
Isn't this code just related to static HTML file generation? That code snippet looks alright to me; it doesn't seem to strip any components from the image path, at least.

I have close to zero experience in debugging node.js apps, so I can't promise if I can find something easily.

[2017-06-12 16:56] slhck opened #117 "--print produces empty output"
Running with phantomjs 2.1.1 on OS X and Linux, both exhibit the same problem.

[code]

The output only contains the background color, nothing else:

![image](https://user-images.githubusercontent.com/582444/27045314-c6e21c3e-4fa0-11e7-8e0e-a6bd3c21d558.png)

[2017-06-14 11:28] ma4a opened #118 "Problem with markdown-file containing BOM"
Running reveal-md 0.3.1 on Linux I recognized a problem when the UTF8 markdown-file contains BOM.

The used markdown-file:
[code]
The YAML Front matter header isn't recognized as header anymore. The options are ignored and another first slide with the header-content is added as you can see:

![243ad02f-312d-421d-bd3d-455efc742420](https://user-images.githubusercontent.com/1401431/27129822-f794b85a

[2017-06-15 06:03] Grayda opened #119 "Print to PDF fails if there are spaces in the name"
I'm trying to run this command on WIndows:

`reveal-md "Introduction to git.md" --print "Introduction to git.md.pdf"`

And it's giving me this error:

The issue is obviously the spaces, because if I rename the file to `Introduction%20to%20git.md`, then everything works as expected.

This also happens on Linux (I'm actually trying to use this as part of a CI script)

I'm running `0.3.1` on both Win

[2017-06-15 18:43] webpro commented on #117
This seems to be related to the theme, I found that using a different theme renders a proper PDF:

[code]

I guess not all themes are compatible with the print styles. But it surprises me that the default theme now fails to render properly, as that is what's been tested all along. Also see #86 and #97 for related issues.

If anyone can shed a light on this, that would be very helpful.

[2017-06-16 09:27] webpro commented on #115
Let's close this in favor of #116, and discuss over there if needed.

[2017-06-16 09:27] #115 closed

[2017-06-16 09:37] slhck commented on #117
Hm, even with `--theme beige` I get only one empty slide. And it's printed quite fast, meaning that it's not just styles, but apparently it doesn't even load or write any of the content.

I'm using PhantomJS 2.1.1 from Homebrew here.

I was able to successfully use [decktape](https://github.com/astefanutti/decktape) with a forked off version of PhantomJS to produce PDFs, which takes significantly

[2017-06-16 10:46] webpro commented on #117
Does it help to update Node.js to v6.11.0 and re-install reveal-md? I've had some issues with Node v4 and early Node v6.x.

[2017-06-16 12:50] slhck commented on #117
Umm, I'm on Node 8.0.0, actually.

[2017-06-16 13:12] webpro commented on #117
Not sure what exactly is going on, but I've just updated some dependencies for [v0.3.3](https://github.com/webpro/reveal-md/releases/tag/0.3.3) and it seems to render slides in PDF for Node v8. Please let me know if it works for you.

[2017-06-16 13:19] slhck commented on #117
It worked, yes, thank you very much!

[2017-06-16 15:31] boileaum opened #120 "Export a markdown slideshow to a continuous html file"
For training purpose, it would be nice to have two renderings of the same markdown source:
1. a slideshow for the teacher
2. a continuous html file (typically rendered in github-markdown style) for the students that would continuously scroll the document, copy-pasting some code blocks.

This would require to remove the slides separators and may run together with the `--static` option.

[2017-06-16 16:22] webpro commented on #120
An option is to include custom script (`--script`) and styles (`--css`) to override the normal behavior/styling of reveal.js.

Check out reveal.js settings for what you can configure out of the box: https://github.com/hakimel/reveal.js#configuration (put this in a `reveal.json` file). Together with configuring non-existing slide separators (to fake a single slide), you might even get away with sty

[2017-06-20 20:17] ruippeixotog commented on #117
I'm having the same problem with [this presentation](https://github.com/ruippeixotog/intro-to-category-theory). I have all tools and dependencies in their latest versions:

[code]

Can you check if it happens with you too?

[2017-06-21 06:25] webpro commented on #117
Yes, I'm also only one empty slide in the PDF. I'll reopen, but still not sure what the actual cause is.

[2017-06-21 07:17] slhck commented on #117
I just tried to recompile the slides again and I also end up with an empty PDF, although it *definitely* used to work. The only thing I changed is that Homebrew upgraded me to Node 8.1.2 (from 8.0.0) in the meantime.

[2017-06-21 09:19] frankscholten opened #121 "Making slide background part of a custom theme"
Seems there is no mailinglist for this project so I will ask a question by opening an issue.

I have added the following snippet in my slides to add a background image

[code]

and this works but it seems I have to repeat that for each slide. What kind changes should I make to the css theme so that each slide has this background by default?

Great project, keep up the good work!

[2017-06-21 09:42] webpro commented on #121
You can set a background image in CSS, right?

[2017-06-21 10:48] boileaum commented on #120
Thank you for your suggestion! As I'm not a specialist of reveal.js, I found another solution using pandoc:
[code]
Using `doctoc`, one may also insert a table of content.

[2017-06-21 10:48] #120 closed

[2017-06-21 13:15] frankscholten commented on #121
I added this snippet

[code]
which works but when I want to change the background of the title slide and add this

[code]

the slide will have both backgrounds applied to it. Any idea how I can make it so it uses a default background unless overridden through the tag above?

[2017-06-21 14:18] webpro commented on #121
Perhaps reveal.js adds a `data-background` property or something to the HTML, which you can use to disable the CSS background image.

[2017-06-21 14:45] frankscholten commented on #121
It does not seem to add a `data-background` property unless I add it myself via a comment. Could I write a script that sets the background for the first slide and a different background for the other slides? Which property or conditional value can I use to determine when to set which background?

[2017-06-21 17:52] webpro commented on #121
You can use `--script` to include custom scripts. Sounds like something of a `.slides section:first-child` CSS selector could to the trick as well.

[2017-06-21 17:53] webpro commented on #120
Sounds great!

[2017-06-23 13:11] frankscholten commented on #121
@moretea and I figured it out. We added this snippet:

[code]

This way every slide uses te same background image except the title slide which has its own image.

Thanks for helping out @webpro!

[2017-06-23 13:11] #121 closed

[2017-06-29 07:48] jzz4012650 opened #122 "considering add chrome printing"
I found that [reveal.js](https://github.com/hakimel/reveal.js) has the feature of printing PDF with chrome browser.

Since this repo is based on reveal.js, how about adding this [feature](https://github.com/hakimel/reveal.js#pdf-export)?

It seems PDF printed from chrome looks nicer than from Phantomjs (just personal opinion).

[2017-07-16 02:53] batjko commented on #119
Should be easily fixed by adding some quotes around the filename [here](https://github.com/webpro/reveal-md/blob/a0158200c6e430a7d128006be7142047285a0536/lib/print.js#L24).

[2017-07-17 23:25] wwoods opened #127 "Chrome ?print-pdf link broken between 0.0.34 and 0.1.1... Seems broken since?"
This appears to be due to the fact that ".reveal" does not get `overflow: visible` assigned to it.  Also, pdf-pages are not broken correctly.  Also, any slide backgrounds are not rendering correctly any longer.

This all last worked in 0.0.34.  0.1.0 did not display slides correctly.  0.1.1 demonstrates the broken behavior.

[2017-07-18 21:05] wwoods commented on #127
This would be fixed by #125

[2017-07-18 21:05] #127 closed

[2017-07-18 22:34] wwoods commented on #109
For the record, I typically need to escape my `_` with reveal-md: `$\hat{I}\_{vgnd}V\_t$` rather than `$\hat{I}_{vgnd}V_t$`.  Then it works fine.  I believe it is because markdown converts the pair of `_`'s to italic, which MathJAX ignores.

[2017-08-10 17:34] dantrevino opened #129 "font-awesome"
How can I incorporate font-awesome fonts?

[2017-08-12 09:50] webpro commented on #122
Resolved by #125

[2017-08-12 09:50] #122 closed

[2017-08-12 09:56] webpro commented on #129
You can add [custom scripts and styling](https://github.com/webpro/reveal-md#custom-scripts). Alternatively, you can use a [custom template](https://github.com/webpro/reveal-md#custom-template) to include scripts and/or styles.

Let me know if you have any remaining questions/issues.

[2017-08-12 09:56] #129 closed

[2017-08-16 10:14] singh1114 opened #130 "How to run the server on specific IP"
Hello there!

I have been using your services from a long time and found them very amazing. I was trying to run reveal-md on my server. I apply the command:
`reveal-md abc.md`
It runs on `localhost:1948`. I want it to run on `my_server_ip:PORT`. How can I do that?

Thanks for your help guys.

[2017-08-16 10:32] singh1114 commented on #130
Sorry for the inconvineince, I found the solution.
use this command:
`reveal-md -h server_ip -p PORT file_name.md`

[2017-08-16 10:32] #130 closed

[2017-08-16 20:59] webpro commented on #130
Glad you've found it :-)

[2017-08-21 15:06] utrescu opened #131 "Unable to generate PDF"
When I try to generate the pdf the `--print` option is ignored (same with -P)

    $ reveal-md post.md --print post.pdf
    Reveal-server started at http://localhost:1948

I'm using Fedora Linux and I have node 8.4.0 (via nvm) and phantomjs 2.1.7 ...

    $ npm list -g --depth=0
    /home/user/.nvm/versions/node/v8.4.0/lib
    ├── ...
    ├── npm@5.3.0
    ├── phantomjs@2.1.7
    ├── reveal-md@0.4

[2017-08-23 22:21] grokify opened #132 "Existing way to add social links"
Is there an existing way to add social links like Twitter, Facebook, Github, etc.?

If not, are there any pointers on the best way to add this?

[2017-08-24 20:52] webpro commented on #131
Hi @utrescu, thanks for the bug report. This was introduced in v0.4.0. It is now fixed in [v0.4.1](https://github.com/webpro/reveal-md/releases/tag/0.4.1).

[2017-08-24 20:52] #131 closed

[2017-08-24 20:54] webpro commented on #132
Hi @grokify. You can just use links and images in Markdown, so I'm not sure what you mean?

[2017-08-24 20:56] webpro commented on #112
You can now also use [custom templates](https://github.com/webpro/reveal-md#custom-template).

[2017-08-24 20:56] #112 closed

[2017-08-24 20:58] webpro commented on #109
Closing this, as it seems it's not a reveal-md issue, and there is a work-around (escaping).

[2017-08-24 20:58] #109 closed

[2017-08-28 15:24] ChrisJefferson opened #133 "`reveal demo` opens an empty page"
I did (on a mac):

[code]

But the resulting page is blank, it's just (ignore the `|`, no idea why they appear when I cut + paste from chrome)

[code]

[2017-08-28 15:33] ChrisJefferson opened #134 "no code samples"
How do I embed code, and pick the language? This doesn't seem to be mentioned in either the docs, or the examples.

[2017-08-29 18:23] grokify commented on #132
I was thinking of adding a short string of icons in a corner say upper right or lower left corner of each page, similar to the navigation controls.

[2017-08-29 22:09] grokify commented on #134
See this:

https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code

[2017-08-30 03:44] singh1114 opened #135 "How to change the font size of the text"
Hello there,

Feels like there is no mailing list for this. So, I will ask the question here itself.

I want to change the `font-size` of some text in a slide. How can I do that?

[2017-08-31 08:51] webpro commented on #134
Thanks @grokify. This is a feature of reveal.js itself, so please also see e.g. [reveal.js#code-syntax-highlighting](https://github.com/hakimel/reveal.js#code-syntax-highlighting)

[2017-08-31 08:51] #134 closed

[2017-08-31 08:53] webpro commented on #135
You can [add extra stylesheet(s)](https://github.com/webpro/reveal-md#custom-css) from the command-line.

[2017-08-31 08:55] webpro commented on #132
You could use a [custom template](https://github.com/webpro/reveal-md#custom-template) for this.

[2017-08-31 08:55] #132 closed

[2017-09-01 13:14] jeud opened #136 "Problem accessing static files e.g. images"
Dear all

I like to access some static files e.g. images from within the markdown file as `![](/images/image1.png)` but it was not able to access I also tried to open the browser with this URL `http://localhost:0000/images/image1.png`, it also could not be accessed

P.S. It used to work with some older version of `reveal-md`

Please guide
Thanks

*File Structure*
[code]

[2017-09-04 09:20] gmatht opened #137 "Cannot print."
If I try to print I get the following error.

[code]

If I try to manually run phantomjs, I get the following error.

[code]

So I also tried adding ?print-pdf to the URL so I could print from chrome. However this only printed the first page unless I export the _static html pages and replace paper.css link with a script as follows:

[code]

Versions are as follows:

[code]

[2017-09-04 19:08] webpro commented on #136
You should use relative links (ie. `images/image1.png`).

[2017-09-04 19:12] webpro commented on #137
Looks like there's an issue with the CLI argument parsing. Please try this:

[code]

[2017-09-06 08:15] gmatht commented on #137
OK, that works (though I need to do `pdfcrop --bbox "180 300 812 692" GandALF2017.pdf` to get the whitespace right).

Is the problem  with ?print-pdf a known bug? There have been similar problems reported against reveal.js previously.

[2017-09-06 18:59] webpro commented on #137
What problem do you mean?

[2017-09-06 18:59] #137 closed

[2017-09-06 19:43] #118 closed

[2017-09-06 19:43] #119 closed

[2017-09-06 19:43] #133 closed

[2017-09-06 19:45] webpro commented on #118
Fixed in [v0.4.2](https://github.com/webpro/reveal-md/releases/tag/0.4.2).

[2017-09-06 19:45] webpro commented on #133
Fixed in [v0.4.2](https://github.com/webpro/reveal-md/releases/tag/0.4.2).

[2017-09-06 19:45] webpro commented on #119
Fixed in [v0.4.2](https://github.com/webpro/reveal-md/releases/tag/0.4.2).

[2017-09-07 01:03] gmatht commented on #137
I mean is it a known bug of reveal-md that pressing print in google-crome/firefox from ...GandALF2017.md?print-pdf only prints the first page?

[2017-09-07 01:26] japgolly commented on #136
I'm having the same issue. This doesn't work even with relative links.

[2017-09-07 01:29] japgolly commented on #136
Hmm, prepending `assets/` makes it work, even though that directory doesn't exist locally.

[2017-09-07 15:01] webpro commented on #136
Duplicate of #116. Let's discuss over there.

[2017-09-07 15:01] #136 closed

[2017-09-08 21:52] breschke commented on #117
I am also having this problem, and it seems to work on and off again. Any new insight since the issue was reopened?

[code]

[2017-09-09 10:17] webpro commented on #117
Sorry, but I'm actually never printing slides myself, so I'm not very interested in this. Happy to accept PRs!

[2017-09-09 10:19] webpro commented on #135
Closing due to inactivity.

[2017-09-09 10:19] #135 closed

[2017-09-13 11:11] juanda99 opened #138 "Gitbook plugins inside revel-md"
I've seen some issues about reveal-md plugins, but I think is not just the same case.
I'm using [gitbook plugin youtube](https://www.npmjs.com/package/gitbook-plugin-youtube), however it renders the video when using gitbook serve, but not when using reveal-md (just print the text).

[2017-09-13 12:18] webpro commented on #138
Hi, @juanda99. This doesn't look like a reveal.js plugin, or is it? Therefore I'm closing this issue, but feel free to discuss further.

[2017-09-13 12:18] #138 closed

[2017-09-13 16:52] breschke opened #139 "?print-pdf option not working"
Trying to use reveal-md as a full replacement for course lecture presentations and notes. The ability to print to pdf version of slides is crucial for me. Neither the `--print file.pdf` option (see #117) nor the ?print-pdf option are working. I've closely followed the instructions in #125 @wwoods; the result is one slide only, and when I attempt to print using the Chrome print dialog, the one slid

[2017-09-13 19:21] webpro commented on #139
Hi @breschke, this is a know issue (as you've pointed out), so I'm going to close this one. I know it can be frustrating that this isn't working properly, but I don't have the time nor a personal interest in fixing this. However, I think your report and screenshots are helpful for understanding the issue to anyone interested.

[2017-09-13 19:21] #139 closed

[2017-09-13 19:22] webpro commented on #139
Dup of #117.

[2017-09-13 20:04] breschke commented on #139
Actually, I don't think the problem with the Chrome-based printing functionality (?pdf-print) is known. This is distinct from the `--print file.pdf` option. So, it is not a duplication of #117. Kindly re-open so that we can work on either printing option.

[2017-09-13 20:07] breschke commented on #139
@gmatht mentioned last week that there doesn't seem to be an issue for ?print-pdf specifically. I'm trying to open one.

[2017-09-13 20:08] breschke commented on #127
No longer working--see #139

[2017-09-13 20:15] wwoods commented on #139
@breschke  Two things:

1. Did you check the "Background Graphics" checkbox in the chrome print dialog?

2. I also mentioned using the following CSS for slide centering:

    .reveal .slides section {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

  If you haven't yet tried adding that, please do, as that was n

[2017-09-13 20:23] breschke commented on #139
@wwoods Thanks--I had tried checking "Background Graphics": no effect. The CSS has centered the slides, as seen below, but still only one slide is printed. Is it expected to change to a black-and-white theme (different than the original)?

![screenshot 2017-09-13 14 19 49](https://user-images.githubusercontent.com/4975604/30398814-f6f665ce-988e-11e7-9e3e-e8cda2389686.png)

[2017-09-13 20:39] breschke commented on #139
I can replicate the problem with a minimal example:

`tmp.md`:

[code]

where  `./css/custom.css` is:

[code]

and server command is:

[code]

Result doesn't print slide 2 (containing 123) and prints slide 1 as black text on white.

![screenshot 2017-09-13 14 36 25](https://user-images.githubusercontent.com/4975604/30399525-38cadc3a-9891-11e7-9835-8c994ade3acb.png)

[2017-09-13 22:16] wwoods commented on #139
That's weird, unfortunately I'm not sure why only one page would be printing.  When I do it, I can't scroll to the other slides, but they are there (and show up correctly in Chrome's print preview).

Can you post your whole CSS theme?  I'd suspect the issue is there.  For instance, with background graphics, your slide theming must be on the "body" element and not on the ".slide" element.

[2017-09-14 01:43] gmatht commented on #139
Note that printing only the first page is a common problem with reveal.js.

I managed to get Chrome to print all the pages by exporting to a static website, (`reveal-md slides.md --static`), then opening `_static/index.html` and replacing the line

    <link rel="stylesheet" href="./css/print/paper.css" type="text/css" media="print">

with

    <script>
            var link = document.createElemen

[2017-09-18 15:41] breschke commented on #139
@wwoods I use the default theme/CSS in my minimal example and still have the one-page problem.

@gmatht, printing the static website may be on the right track: I am able to print multiple pages of my slides this way, but they don't appear to be formatted as slides (e.g., pages don't break after slides). I followed your suggestion and edited `index.html`, but unfortunately this doesn't seem to make

[2017-09-22 19:52] automaticgiant commented on #12
i think there's probably an accessible compromise - supporting a useful subset of the fragment feature in markdown is probably a more expedient/pragmatic value-add than getting into the weeds of the expressivity of the full fragments code, but that's again what much of the markdown syntax is trying to do - support a generous subset and make our lives easier.

[2017-10-10 13:38] fdw opened #142 "Documentation for custom templates"
I would like to write my own custom template (f.e. with specific scripts). However, I could not find any information on how to do that. Could you please point me in the right direction?

[2017-10-10 13:44] webpro commented on #142
Please see https://github.com/webpro/reveal-md#custom-template

Let me know how/where you need more help.

[2017-10-10 18:14] fdw commented on #142
Thank you :)

Unfortunately, the link only explains how to use a custom template, but not how to write one. My use case is that I already have an old presentation with a specific style and scripts that I'd like to re-use, but I prefer to write the content with markdown. Therefore, it would make the most sense if I could convert the existing presentation into a template and use reveal-md to generat

[2017-10-10 19:01] webpro commented on #142
This section links to the default template used here with reveal-md: https://github.com/webpro/reveal-md/blob/master/lib/template/reveal.html

I think this template be a good starting point.

Just saying: you can use `--scripts` and `--css` to inject custom scripts and styling.

[2017-10-11 16:58] fdw commented on #142
I'll have a look at the `--scripts` and `--css` flags, thanks!

However, the default template didn't really help. What exactly is the `{{{base}}}` directory? What does `{{#cssPaths}}` do? Some more documentation about the keywords would be very helpful.

[2017-10-11 22:05] webpro commented on #142
To provide a little bit of background here: all of the features mentioned in this ticket have been added by others with pull requests. I was fine with that, as they weren't adding much complexity (especially the custom template). Unfortunately, documentation in general isn't very comprehensive. Specifically the (custom) template requires some knowledge about the rest of the codebase.

Apologies fo

[2017-10-18 15:14] cryos opened #143 "Export HTML without base64 encoding all images"
Is there any way to invoke --static, but have the images placed in a directory in the HTML directory I specify? Looking through the code and old issues I don't see anything obvious, but I want to host the slides on gh-pages and similar, and simply have the images load (there are quite a few) after the main page of the opening slide is shown.

I am also using a custom CSS file to do some styling, t

[2017-10-22 22:38] jinwoo commented on #139
I have a PR for fixing this: #144

[2017-10-30 22:43] webpro commented on #143
Hi, @cryos. Unfortunately, no. The main reason is that it's hard to make sure all files are referenced correctly, as slides and images might both be in subdirectories. This is why they're embedded.

Including custom styling (and scripts) should work. The `assets` directory should be created with your `custom.css` in there. How are you generating the static site?

[2017-10-31 11:16] singingknight opened #145 "Custom Theme not working with direct access to slides in subfolder"
With a structure like this:

    +- reveal-md.json
    +-- theme
    |   +-- mytheme.css
    +-- presentation1
    |   +-- slides.md
    |   +-- img1.jpg
    |   +-- img2.jpg
    +-- presentation2
        +-- slides.md
        +-- img1.jpg
        +-- img2.jpg

If I run `reveal-md --theme mytheme.css presentation1/slides.md` then it can't find `/theme/mytheme.css`, because it's looking inside pres

[2017-10-31 13:12] cryos commented on #143
I found a workaround, if you prefer this method of generation only I can make it work. I abandoned the --static as I have a lot of images and wanted a faster time to show the first slide. I just checked and the custom.css is not getting copied over, no assets directory is present in the static html directory.

My preamble was
---
title: Tomviz Tutorial
theme: simple
separator: --s--
verticalSepara

[2017-10-31 21:12] webpro commented on #145
I've just fixed/changed this behavior in [v0.5.0](https://github.com/webpro/reveal-md/releases/tag/0.5.0). So the command would become:

[code]

Also see https://github.com/webpro/reveal-md#theme. Let me know if you still have any issues.

[2017-10-31 21:12] #145 closed

[2017-10-31 21:15] webpro commented on #143
One issue here is that the static generator didn't support the front matter at all. I've just released [v0.5.0](https://github.com/webpro/reveal-md/releases/tag/0.5.0) which at least parses it, and merges the options. The template should be rendered fine now.

The second issue is that the `css` (and `scripts`) are still not supported to include this way. It should work (i.e. copied to `_site/_asse

[2017-11-09 20:34] webpro commented on #117
This seems to have been fixed in #144, so I'm just going to close this issue. Feel free to report any issues.

[2017-11-09 20:34] #117 closed

[2017-11-09 20:35] #142 closed

[2017-11-15 17:11] dantrevino opened #146 "pdf print is generating an extra blank page"
slides: https://raw.githubusercontent.com/dantrevino/blockstack-portland/master/2017-11-13-Nike-PES-COP-Engineering/slides.md

resulting pdf: https://github.com/dantrevino/blockstack-portland/blob/master/2017-11-13-Nike-PES-COP-Engineering/blockstack.pdf

[code]

[2017-11-15 17:45] webpro commented on #146
Guess the blank pages are caused by the `<section>` tags. They are not closed. You should try to either wrap the whole slide in a section, or make it a self-closing tag.

[2017-11-15 18:49] dantrevino commented on #146
Hmmm...Neither seems to help.  I'm running this on Mac currently.

wrapping section tag

self-closing section tag

[2017-11-16 10:04] webpro commented on #146
It looks like you are setting a background color. You can also use CSS for this (https://github.com/webpro/reveal-md#custom-css).

[2017-11-30 20:09] vvv opened #147 "Short options for `--help` and `--host` conflict with each other"
[code]

[2017-11-30 20:15] vvv opened #148 "Local `reveal-md.json` and `reveal.json` are ignored"
[code]

[2017-12-03 19:51] webpro commented on #147
Thanks for the catch. I have simplified the CLI arguments in [v1.0.0](https://github.com/webpro/reveal-md/releases/tag/1.0.0).

[2017-12-03 19:51] #147 closed

[2017-12-03 19:54] webpro commented on #148
That's not valid JSON (and errors should be printed in the console when running with `DEBUG-reveal-md`).

[2017-12-03 19:54] #148 closed

[2017-12-07 00:42] janstuemmel opened #149 "pdf export, no math mode"
when i export to pdf, no math formulas will be drawn, its just mathML text.

[2017-12-09 17:03] webpro commented on #146
Closing due to inactivity.

[2017-12-09 17:03] #146 closed

[2017-12-09 17:06] webpro commented on #113
Closing due to inactivity.

[2017-12-09 17:06] #113 closed

[2017-12-11 20:34] rbuchholz opened #150 "reveal-md demo OK reveal-md slides.md ERRORS"
Hi Lars,

I just updated to version 1.0.0 and I can't load my .
<img width="1209" alt="screen shot 2017-12-11 at 2 33 47 pm" src="https://user-images.githubusercontent.com/1444694/33852481-600771b6-de80-11e7-842c-0b036f9e721a.png">
md files - your demo works great...

❯ reveal-md --version
1.0.0

❯ node -v
v9.2.1

❯ npm -v
5.6.0

macOS
10.13.1 (17B1002)

reveal-md demo - works
❯ reveal-md slides.m

[2017-12-11 21:29] webpro commented on #150
* Can you try some other Markdown file, do you still have the same issue?
* Can you please share the contents of your "slides.md" file?

[2017-12-11 21:46] rbuchholz commented on #150
• Can you try some other Markdown file, do you still have the same issue?
- None of my Markdown files work
- I can edit your Demo files a.md and they work
- If I create a new Markdown file in your reveal-md/demo/ location it will not run
- Everything was working great

• Can you please share the contents of your "slides.md" file?
- I tried very basic files Markdown files

[code]

[2017-12-12 10:53] AustenLamacraft opened #151 "Live reload broken"
Option `-w` now gives the error

[code]

with no live reload

[2017-12-12 13:07] webpro commented on #150
Maybe the issues is in the fact that the YAML frontmatter is wrapped in dashes (`---`), but that is also the slide separator. I think not starting the file with `---` might help.

[2017-12-13 03:24] rbuchholz commented on #150
Issue Resolved
• Do Not Start MarkDown file with --- slide separator
• Worked in previous versions < 1.0.0
Thank You!

[2017-12-13 03:24] #150 closed

[2017-12-15 15:23] fungs opened #152 "PDF export puzzled pages"
Installed version 1.0.0 via npm and phantomjs 1.9.0 and pages are not printed to pdf correctly, slides extend over multiple pages.

[2017-12-15 15:26] fungs opened #153 "Command line parameters precedence over hardcoded parameters"
If I set a theme in the markdown file metadata and specify a different theme on the command line, it still uses the hardcoded one. Usually, and this makes most sense IMO, command line parameters should overwrite the others, to be able to quickly force a theme change.

Version of reveal-md is 1.0.0

[2017-12-15 15:27] fungs opened #154 "Reloading unrenders math formulas"
In many situations, when reloading the presentation either using the -w parameter or manually displays inline and block math code as text instead of rendering.

Version of reveal-md was 1.0.0

[2017-12-15 15:28] fungs commented on #154
This was true in recent firefox and chromium, so it should not be a browser issue.

[2017-12-15 15:44] fungs opened #155 "SVG images missing in static site"
I included some SVG images which are missing when exporting the presentation to a folder using the `--static` command line parameter. They are there, when I run the presentation locally.

Version is 1.0.0

[2017-12-19 11:14] iranzo opened #156 "Speaker view shows next slide (vertical) but not horizontal"
Hi,
When using the slides I'm using the horizontal navigation for main topics and vertical for going deeper, but the speaker view shows the slides in vertical as next slide.

I think it should  use another field to show both next in horizontal and down in vertical so it's easier to decide *on the go* if it's better, based on audience, timing, etc to move horizontally to next topic or dig deeper.

[2017-12-28 09:55] MichielStock commented on #149
Same thing here! Does reveal-js have the same bug?

[2017-12-28 15:36] janstuemmel commented on #149
it's a revealjs bug, in the print-pdf.js plugin

[2018-01-04 13:20] MichelGabriel opened #157 "Custom HTML template not working as described"
Hi,

I noticed that the use of '--reveal-template' as described in the documentation is not working. In 'cli.js' another name is used: '--template': https://github.com/webpro/reveal-md/blob/f6ae20139a49f1f45b48698dfafa009bb3078e72/bin/cli.js#L47

[2018-01-10 20:25] mhartington opened #158 "Highlight Theme cannot be a relative path"
Hi there!

First off, thanks for reveal-md!

Issue: Specifying a highlightTheme using a relative path does not work.

In a reveal-md.json config,

[code]

Passing a custom reveal theme works, but it does not work for highlightTheme, which seems like it should.  Would it be possible to add this?

[2018-01-11 12:46] HansHammel opened #159 "exit on json parse error"
app swallows json errors on at least reveal-md.json

[2018-01-11 12:47] HansHammel opened #160 "notesSeparator has no effect"
`notesSeparator` has no effect in reveal-md.json not yaml header

[2018-01-11 12:52] HansHammel opened #161 "simplify regex matching in defaults.json"
I found `"^(\r\n?|\n)---(\r\n?|\n)$"` in defaults.json
This is IHMO wrong. The `?` applies to `\n`
can be simplified to  `"^(\r?\n)---(\r?\n)$"`
if you can omit the group matches go with `"^\r?\n---\r?\n$"`
but even that is wrong (for multiline matching), so, no wonder even this works: `"\r?\n---\r?\n"` <- IMHO best solution

[2018-01-12 11:12] webpro commented on #157
Thanks, @MichelGabriel! Can you please open a PR to fix this?

[2018-01-12 11:15] webpro commented on #161
Nice find, @HansHammel. I totally agree. Could you please open a PR for this?

[2018-01-12 11:17] webpro commented on #155
That's indeed not supported (yet). Maybe you can take advantage of the new `--staticDirs` feature introduced in v1.1.0.

[2018-01-12 11:19] webpro commented on #153
Agreed, CLI arguments should overide defaults.

[2018-01-12 11:36] fungs commented on #155
What does `--staticDirs` do?

I found the best solution to exporting the presentation to just save it from the web browser which seemed to include everything.

[2018-01-12 11:52] webpro commented on #155
You can copy extra directories when using `--static`.

Happy to hear you've found a solution.

[2018-01-12 11:52] #155 closed

[2018-01-15 09:18] MichelGabriel commented on #157
Hi @webpro,

Yes I can, would you like to have a fix for the documentation or the javascript file?

[2018-01-19 18:10] HansHammel commented on #161
I am afraid not - currently focused on .net, just doing some node monkey patching on my current setup.

[2018-01-20 16:35] n-batalha commented on #86
Still occurring randomly on the latest version.

[code]
The `demo/a.md` doesn't print well with the default theme but it does with beige. However even with beige on my own slides, most of the times I get an empty pdf (same command run each time).

Great tool by the way!

[2018-01-25 03:00] die4live opened #162 "Fail to load time in speaker view after exporting to static pages"
Exported as static HTML with `--static`, and open then `index.html`, but both timer and clock stay in zeroes.

[2018-01-25 14:20] TypedLambda commented on #86
i have the same problem.
[code]

pdfs contain mostly an empty page with the background color.
sometimes the content gets rendered in. about 6 tries to success here.

[code]

[2018-01-25 22:49] webpro commented on #162
Sorry, plugins aren't supported with `--static` exports. Feel free to open a PR for this.

[2018-01-25 22:49] #162 closed

[2018-01-25 22:52] #157 closed

[2018-01-25 22:52] webpro commented on #157
Just made the change, thanks :-)

[2018-01-25 22:59] webpro commented on #158
Sorry, a custom highlight theme isn't supported (yet). To be fair, it's also not documented like that. Feel free to open a PR for this.

[2018-01-25 22:59] #158 closed

[2018-01-25 23:07] webpro commented on #159
As this file is not required to exist, reveal-md indeed swallows the error. I agree it would be better to report JSON parsing issues if the file exists.

You can use `DEBUG=reveal-md reveal-md [...]` for debugging (https://github.com/webpro/reveal-md/blob/master/CONTRIBUTING.md#-file-a-bug). This would reveal the issue.

[2018-01-25 23:07] #159 closed

[2018-01-25 23:10] #161 closed

[2018-01-25 23:10] webpro commented on #161
No problem, thanks for reporting. It will be in the next release.

[2018-01-25 23:11] webpro commented on #156
Can you please verify this is an issue with reveal-md, or with reveal.js itself?

[2018-01-25 23:15] iranzo commented on #156
Well, tbh showing either the one down on next would be good, but as we do have both possibilities to move right or down, shouldn't we have another section in 'speaker view' about which one is next in vertical and in horizontal?

For me it was more like a Request for Enhancement than a bug

If you want me to run some specific commands to validate, let me know how should I proceed.

Thanks a lot!
Pa

[2018-01-25 23:19] webpro commented on #156
Right, I understand. Well, reveal-md is some kind of server to present Markdown files using [reveal.js](https://revealjs.com), the "actual" project. Please discuss this over there. Thanks!

[2018-01-25 23:19] #156 closed

[2018-01-25 23:22] webpro commented on #160
Do you mean it has no effect in either way, or not at all?

[2018-01-25 23:23] #153 closed

[2018-01-25 23:23] webpro commented on #153
Thanks, this will be in the next release.

[2018-01-25 23:27] webpro commented on #152
There have been multiple issues reported regarding PDF output/printing. Please look them up in the issues (https://github.com/webpro/reveal-md/search?q=print&type=Issues) and see if there's anything of help, or if you could help out in any way. Closing this as it's a duplicate of other tickets.

[2018-01-25 23:27] #152 closed

[2018-01-25 23:28] webpro commented on #151
If anyone's interested in fixing this, please feel free to open a PR.

[2018-01-25 23:29] webpro commented on #143
Closing due to inactivity.

[2018-01-25 23:29] #143 closed

[2018-01-25 23:30] webpro commented on #154
Can you please verify whether this is a reveal-md issue, or of reveal.js itself?

[2018-01-26 09:25] fungs commented on #154
how do I best do that? I'm not much into web programming...

[2018-01-29 16:49] malys opened #163 "Path with space on windows"
Hi,
Thank you for developping this tool.
I have detected a bug:
https://github.com/webpro/reveal-md/blob/5d9d83a65340e6c10e1dd0809f11dc5a5c76d287/lib/print.js#L20

To protect your code of windows path with space (ex: c:\program files\), we have to add " around your path:
[code]

[2018-01-30 22:07] mdartic opened #164 "Make a static build for several md files"
Hi,

Do you know if there is a command to tell `reveal-md` to generate all markdown files contained in a directory ?

When I do `reveal-md directory/`, it opens the browser and list every files contained in this repository, and that's fine.

But when I want to generate a static dir, with the `--static` option, I have an error `TypeError: path must be a string or Buffer`.

By searching in the code,

[2018-01-31 12:45] matthjes opened #165 "Live view does not use YAML front matter"
Hi,

The YAML front matter is not used when I run reveal-md in live mode, i.e. `reveal-md slideshow.md`, however, the front matter **is** used when I create static HTML files.

This is my simple file:
[code]

And this is the result:

![screenshot-2018-1-31 reveal-md](https://user-images.githubusercontent.com/1440866/35623610-89407d78-068c-11e8-9728-3d2a88ce4691.png)

Only `Foo` is shown, and I can

[2018-02-02 08:54] peckeltw opened #168 "Print to PDF command requires theme option"
According to https://github.com/webpro/reveal-md#print-to-pdf printing to PDF is done by

`reveal-md slides.md --print slides.pdf`

This just creates a blank page with the black background. So I need to specify a theme, even the default one, to print to PDF successfully:

`reveal-md slides.md --theme black  --print slides.pdf`

[2018-02-02 10:11] medains commented on #151
livereload gives this warning if any extensions have been specified in the options

https://github.com/napcs/node-livereload/blob/e8ed7938b6e8622297b692951b3fd4c8b00946ed/lib/livereload.coffee#L30

reveal-md already uses "exts" rather than "extensions" so there's nothing to do here.

Raise an issue on livereload to remove this warning when "exts" is used properly.

[2018-02-02 21:49] medains commented on #165
The live view and static apply options in a different order.

Options need to be applied consistently in this order (first encountered should be applied)
* command line overrides
* YAML headers
* defaults

There's quite a bit of work to fix this because the command line and defaults have been conflated, and the static and live view apply them in different orders.

I'll have a go at it if I find a

[2018-02-02 21:50] medains commented on #168
Related to #165 I expect.

[2018-02-07 17:20] maiermic commented on #151
I get this error:

[code]

[2018-02-07 17:37] maiermic commented on #151
I solved my issue running:

[code]

[2018-02-07 18:20] maiermic commented on #149
I use [decktape](https://github.com/astefanutti/decktape) in the meantime:

[code]

[2018-02-07 21:12] webpro commented on #151
Hi @maiermic, reveal-md watches `cwd` (current working dir), so I guess there are a lot of files in there.

You may want to put the presentation (and related) files in a separate directory, and start reveal-md from there (to go without increasing open file handlers and to speed things up).

[2018-02-07 21:18] maiermic commented on #151
Thanks for the tip :+1:

[2018-02-14 10:58] sz332 opened #176 "Unable to print md file with themes"
When I try to print any markdown document using

reveal-md.cmd slides.md --print

it is printed correctly, however if I try to print using a theme provided my reveal-md,
it creates an empty document.

reveal-md.cmd slides.md --theme beige --print

[slides.txt](https://github.com/webpro/reveal-md/files/1723622/slides.txt)

node --version
8.9.4
reveal-md --version
1.1.3
phantomjs --version
2.1.1

Wi

[2018-02-14 11:48] sz332 commented on #176
Extension: the only theme that actually seems to work is black.

[2018-02-19 16:15] yanick opened #177 "YAML config in slides not loaded?"
I don't know if this is caused by reveal-md itself or one of its dependencies, but with the latest
version of reveal-md, the YAML config in the slides don't seem to have any effect (I was modifying the `separator` and the `verticalSeparator`, amongst other things.

[2018-02-19 16:20] yanick commented on #177
Did some regression, and the YAML config was loading in v0.5.0, v1.0.0, v1.1.0 and breaks in v1.1.1.

[2018-02-25 11:11] almondtools commented on #176
Same behavior for same configuration, but

- theme "white" works
- custom theme works, except for background images (but this might be another problem)

[2018-02-25 11:19] almondtools opened #178 "Static site with custom theme does not work"
The final index.html has the line:

./_assets/theme/custom.css

but the directory _assets does not exist. Copying the custom theme to _assets/theme makes it work.

OS: Windows

[2018-03-05 16:22] bdowling opened #180 "demo index page is white on white - not loading a theme"
The latest branch does not load a theme into the directory listing of demo.

To make this worse, the template has a hard coded `color: white` so the page appears completely blank out of the box until further inspection.

Would suggest the hard coded color be removed or both fore/background be set ;)

Without digging too far, it is not clear to me why themePath this is left undefined instead of usi

[2018-03-06 23:18] jinwoo commented on #177
`title` doesn't seem to work either. `revealOptions` does seem to work though. At least its `transition` field works.

[2018-03-07 18:46] antifermion opened #181 "SVG in static site"
SVG images are embedded as `![](data:image/svg;base64,PD9...`, it should be
`![](data:image/svg+xml;base64,PD9` instead, I think.

[2018-03-07 18:47] antifermion opened #182 "Images from web in static site"
If images are embedded as http URI, the following error is printed when attempting to render as a static site:

[code]

[2018-03-12 17:00] humanfactors commented on #176
I cannot get `reveal-md -w slides.md` to read the theme defined in the YAML header. I can get this to work, however, by manually overriding with ` --theme $(THEME)`. On the other hand, `reveal-md --static` works just fine.

[2018-03-12 17:01] humanfactors commented on #177
I cannot get `reveal-md -w slides.md` to read the theme defined in the YAML header. I can get this to work, however, by manually overriding with ` --theme $(THEME)`. On the other hand, `reveal-md --static` works just fine.

[2018-03-16 12:49] webpro commented on #177
Hi, been working on a rewrite, which should improve things. Could you guys please give this a shot? You can install with:

[code]

Let me know any issues you may encounter, and we can fix up before a final v2.

[2018-03-16 12:49] webpro commented on #176
Hi, been working on a rewrite, which should improve things. Could you guys please give this a shot? You can install with:

[code]

Let me know any issues you may encounter, and we can fix up before a final v2.

[2018-03-16 12:50] webpro commented on #178
Hi, been working on a rewrite, which should improve things. Could you guys please give this a shot? You can install with:

[code]

Let me know any issues you may encounter, and we can fix up before a final v2.

[2018-03-16 12:50] webpro commented on #168
Hi, been working on a rewrite, which should improve things. Could you guys please give this a shot? You can install with:

[code]

Let me know any issues you may encounter, and we can fix up before a final v2.

[2018-03-16 12:51] webpro commented on #160
Hi, been working on a rewrite, which should improve things. Could you guys please give this a shot? You can install with:

[code]

Let me know any issues you may encounter, and we can fix up before a final v2.

[2018-03-16 22:05] jinwoo commented on #177
I installed `reveal-md@rc` but it didn't respect `title` field of YAML either.

[2018-03-17 13:59] webpro commented on #177
Could you please share your slides cq. a case for me to reproduce this issue?

[2018-03-17 15:58] jinwoo commented on #177
Here's a pretty simple repro case.

[code]

[code]

The title "This is a title" doesn't show on the browser tab. Instead it says "reveal-md".

But if you do
[code]
, now the browser tab shows "This is a title".

[2018-03-18 00:29] webpro commented on #177
Please refer to https://github.com/webpro/reveal-md#yaml-front-matter.

Only options specific to the reveal.js deck go in the `revealOptions` section (https://github.com/hakimel/reveal.js/#configuration).

[2018-03-18 00:29] #177 closed

[2018-03-18 00:55] jinwoo commented on #177
Sorry about the wrong repro case. With the correct YAML, the current `reveal-md` fails to show the title but `reveal-md@rc` does show it. Thanks for the fix!

[2018-03-18 01:26] almondtools commented on #178
**Generating static sites for a custom theme:**

`reveal-md slides.md --theme theme/custom.css` --static` for static sites generation

the theme is not correctly displayed, the html contains a suspicious line `<link rel="stylesheet" href="./undefined" id="theme">`

**Generating static sites for a custom theme:**

`reveal-md slides.md --theme theme/custom.css` --print` for pdf generation

fails wit

[2018-03-18 03:31] psifertex commented on #165
Some updates to the documentation section on the YAML front-matter explaining that it only works in some modes would be very helpful (and would have saved me some time just now!)

[2018-03-19 06:20] mpas commented on #151
Placing the slides.md in a separate folder, so this folder contains only 1 file i get the same error message.

[2018-03-20 09:55] peckeltw commented on #168
Hi @webpro,
thanks a lot, it is working now.

`reveal-md test.md --print test.pdf`

outputs

`Attempting to print "test.md?print-pdf" to filename "test.pdf" as PDF.
2
3 Url {
  protocol: null,
  slashes: null,
  auth: null,
  host: null,
  port: null,
  hostname: null,
  hash: null,
  search: null,
  query: {},
  pathname: 'test.md',
  path: 'test.md',
  href: 'test.md' }
4 '/Users/peckel/Src/talk

[2018-03-30 17:20] webpro commented on #168
Thanks! Version 2 will be out soon.

[2018-03-30 17:20] #168 closed

[2018-03-31 12:02] webpro commented on #151
@mpas You also need to start reveal-md from inside that folder.

Closing this one. If anyone still has issues, please open a new ticket.

[2018-03-31 12:02] #151 closed

[2018-03-31 14:57] webpro commented on #165
Can you guys please try again with version 2.0.0-rc.4? Feel free to (re)open tickets if any issues occur.

[code]

[2018-03-31 14:57] #165 closed

[2018-03-31 14:58] webpro commented on #178
Can you guys please try again with version 2.0.0-rc.4? Feel free to (re)open tickets if any issues occur.

[code]

[2018-03-31 14:58] #178 closed

[2018-03-31 14:58] webpro commented on #160
Can you guys please try again with version 2.0.0-rc.4? Feel free to (re)open tickets if any issues occur.

[code]

[2018-03-31 14:58] #160 closed

[2018-03-31 14:58] webpro commented on #176
Can you guys please try again with version 2.0.0-rc.4? Feel free to (re)open tickets if any issues occur.

[code]

[2018-03-31 14:58] #176 closed

[2018-03-31 14:59] webpro commented on #180
Can you guys please try again with version 2.0.0-rc.4? Feel free to (re)open tickets if any issues occur.

[code]

[2018-03-31 14:59] #180 closed

[2018-03-31 15:00] webpro commented on #182
Can you guys please try again with version 2.0.0-rc.4? Feel free to (re)open tickets if any issues occur.

[code]

[2018-03-31 15:00] #182 closed

[2018-04-02 17:43] jonocodes opened #185 "Allow disabling plugins"
I would like to disable mathjax entirely since I'm having trouble rendering dollar signs.

I have tried adding 'math: {}' to my reveal.js file, but it did not help.

I have also tried putting various fixes in the above brackets.

[2018-04-05 07:48] Zachu opened #186 "Unable to set highlightTheme in markdowns yaml front matter"
Hi!

I'm not sure if this is supposed to work but something made me think it should :)

I have this set up in the first part of the markdown I'm presenting:
[code]

All the other options do seem to work just as I'm expecting to, but the highlightTheme does nothing.

I am able to change the highlight theme from command line by starting the presentation with `--highlight-theme monokai`

I'm using th

[2018-04-05 08:08] webpro commented on #186
Thanks @Zachu. Did you try `highlight-theme` in the YAML front matter already?

[2018-04-05 08:14] Zachu commented on #186
Yes I did, and it doesn't seem to work either. I think I got the `highlightTheme` format from [defaults.json](https://github.com/webpro/reveal-md/blob/master/lib/defaults.json)

[2018-04-08 00:11] mavatoo opened #187 "Code Fragment Highlighting"
This is a feature request.  It would be awesome to include an integration with a plugin such as:

https://github.com/bnjmnt4n/reveal-code-focus

along with a md syntax to make it easy to step through code samples.  Gitpitch seems to do something similar that works well.

[2018-04-08 19:24] webpro commented on #187
Sounds cool. I'm happy to look into a PR with this feature.

[2018-04-08 19:34] webpro commented on #181
This uses [image-data-uri](https://github.com/DiegoZoracKy/image-data-uri) which seems to simply use the extension only (`svg` in your example).

I could make an exception for `svg+xml` and replace it in the data string.

Are you experiencing render issues with this?

[2018-04-08 22:59] jonocodes commented on #185
Thanks.
I basically removed the math.js line from the html output, but modifying the template would work as well.

[2018-04-11 01:20] bashfulrobot opened #188 "Can we use fragments in speaker notes"
It would be amazing if you could step through your notes. Helps you not lose track of where you were (reading notes). This would also help you keep notes in view for slides that have lots of notes.

[2018-04-11 09:10] webpro commented on #188
Hi @bashfulrobot, I think this is more of a feature for [reveal.js](https://github.com/hakimel/reveal.js) itself, right?

[2018-04-11 11:54] DMXL commented on #176
Tested `--print` with rc.6. It seems to work just fine! @webpro

[2018-04-11 16:48] almondtools commented on #176
Where have pictures to be placed such that they are included in the pdf?

[2018-04-11 18:02] slhck opened #189 "Theme is not applied when using live server"
I'm referring to the following project: https://github.com/slhck/ffmpeg-encoding-course

When I build it with the following static command, I get properly formatted output.

[code]

When instead I start the live server, all slide backgrounds turn grey:

[code]

This is despite using the `white` theme and setting the following attribute only for specific slides:

[code]

Version info:

[code]

[2018-04-11 18:28] slhck commented on #189
Actually, when I look at the generated HTML from the default `reveal-md` call, I see:

[code]

Whereas the static page, correctly, has:

[code]

So the real issue is that the theme is not correctly parsed when using the live server.

Some debug output:

[code]

[2018-04-11 18:30] slhck commented on #189
Oh, and I should add that it works when I run

[code]

So, with this one, everything's fine.

[code]

[2018-04-11 19:34] #185 closed

[2018-04-11 19:37] webpro commented on #189
Hi @slhck. So, things work fine for you with v2?

Btw, v2.0.0-rc.6 is the latest version.

[2018-04-11 19:41] slhck commented on #189
Yes, for some reason my npm only updated to rc1, but I tested rc6 as well.

Feel free to close the issue if v2 is about to be released and supersedes
v1!

Lars Kappert <notifications@github.com> schrieb am Mi., 11. Apr. 2018,
21:37:

[2018-04-11 19:56] webpro commented on #176
@almondtools Next to the Markdown in the same directory, or a subdirectory.

[2018-04-11 19:58] webpro commented on #189
Yeah, thanks

[2018-04-11 19:58] #189 closed

[2018-04-12 04:52] almondtools commented on #176
My custom theme gets applied, yet background images stay white. Example:

[code]
I placed `background.png` in the theme directory and in the current directory but it never got included in the pdf. I did not try other ways to include the image.

Maybe related: generating a static side with custom theme links the css (`./theme/custom.css`), yet it does not copy the theme directory to the static site

[2018-04-12 14:57] webpro commented on #176
@almondtools Not sure, maybe others can help out. For static site generation, you can use `--static-dirs <dirs>` to copy extra dirs/files. Sorry, this is still undocumented (I think it's in `--help`).

[2018-04-12 14:59] #188 closed, assigned to nobody

[2018-04-17 19:08] webpro commented on #163
Hi @malys, thanks for the report. This should be fixed with v2.0.0.

[2018-04-17 19:08] #163 closed

[2018-04-17 19:12] webpro commented on #149
Since this is a bug in a reveal.js plugin, I'm going to close this issue. Please note that reveal-md v2 should generate better PDFs, but I'm afraid it's not relevant for this issue.

[2018-04-17 19:12] #149 closed

[2018-04-17 19:14] webpro commented on #164
It's an interesting feature, and fairly easy to implement. I'm happy to accept and merge a PR with this feature.

[2018-04-17 19:16] webpro commented on #154
Can you please share an example that shows the issue?

[2018-04-18 14:09] jarod51 opened #190 "PDF generation troubles"
Hi

When i'm trying to generate PDF i have this issue.

` Attempting to print "slides/2018/04/04-01.md" to filename "slides.pdf" as PDF.
Make sure to have PhantomJS installed (and in your path).
[Error while generating PDF for "slides/2018/04/04-01.md"]
PhantomJS has crashed. Please read the bug reporting guide at
<http://phantomjs.org/bug-reporting.html> and file a bug report.

Error: Command fai

[2018-04-18 17:49] webpro commented on #190
You should try reveal-md v2 that was released just yesterday, it no longer uses PhantomJS. You can `npm install -g reveal-md`.

[2018-04-19 06:17] robertdebock opened #191 "Install fails: Failed to download Chromium r549031"
On some distributions (with different NPM versions) the installation fails with this error:
[code]
You can observe this behavior in a build for an [ansible role](https://travis-ci.org/robertdebock/ansible-role-revealmd/builds/368318766).

The strange thing is that it works on some distributions, and not on others. I'm guessing the NPM version relates to the success or failure.

## Alpine 3.6 (work

[2018-04-19 07:29] webpro commented on #191
Puppeteer is now used instead of PhantomJS for PDF generation, which seems to have a problematic installation. Both reveal-md v2 and puppeteer require at least Node v6.

I have just released v2.0.2 that has puppeteer in the `optionalDependencies`, so the installation of reveal-md itself should no longer fail. Installing this dependency can be skipped altogether using `--no-optional` with the `npm

[2018-04-19 16:00] robertdebock commented on #191
That's a good enough explanation and solution for me.

In the documentation there is no mention of the requirements, do you want me to add it in a merge request?

[2018-04-20 19:42] jakupmichaelsen opened #192 "Spaces in markdown files"
Maybe it's just me, but I can't get reveal-md to accept any markdown files with spaces in them.

[2018-04-24 13:45] fungs commented on #154
Today I tried to reproduce with current Firefox and Chromium but it didn't show again.

[2018-04-24 19:09] #191 closed, assigned to nobody

[2018-04-24 19:10] webpro commented on #192
Hi @jakupmichaelsen! Maybe you can take a look and fix this?

[2018-04-24 19:11] webpro commented on #154
Then I'm going to close this issue. Feel free to open a new ticket if you encounter any issues.

[2018-04-24 19:11] #154 closed

[2018-05-02 13:18] DaAitch opened #193 "options.js ES6 variable visibility bug"
# Bug report
## Environment
**Reveal-md 2.0.2**

_reveal-md.json_
[code]

**command:** `reveal-md --highlight-theme github README.md `

## Description
When I run the command, I expect my README.md to be provided as a presentation (as in earlier versions), but I get an runtime error in JS.

[code]

Maybe this also applies to `getAssetSourcePath`, `getAssetSourcePaths` and `getAssetPath`, as they ar

[2018-05-02 19:42] webpro commented on #193
Thanks for the bug report, @DaAitch!

Should be fixed with [v2.0.3](https://github.com/webpro/reveal-md/releases/tag/2.0.3).

[2018-05-02 19:42] #193 closed

[2018-05-03 16:24] DaAitch commented on #193
thank you, diff looks good. will check it later

[2018-05-04 08:05] #181 closed

[2018-05-07 14:19] arnaud-lecat opened #195 "Server launches but no slide"
Hi

Brand new setup with Manjaro, Node 10 and Npm 6 here... The problem is that when i launch

` reveal-md test.md `

server is launched (no error), browser is not "auto opened" and when i try to reach url (http://localhost:1948) by hand, slide is not loaded and i have the "folder listing view". Then i choose my slide and then it loads for ever...

Help please :)

[2018-05-08 12:49] MadeInChina opened #196 "TypeError: Cannot read property 'replace' of undefined"
download this md file and run  reveal-md README.md --static _site
https://github.com/theodorosploumis/docker-presentation/blob/gh-pages/readme.md
reveal-md  -V
2.0.4
[code]

[2018-05-08 12:54] MadeInChina commented on #196
issue with this link.
[code]

[2018-05-08 19:49] webpro commented on #196
Some images don't make it through the image encoder, not sure why.

Anyway, I've just released [v2.0.5](https://github.com/webpro/reveal-md/releases/tag/2.0.5) which logs errors, but continues rendering.

[2018-05-08 19:49] #196 closed

[2018-05-09 06:59] jarod51 commented on #195
Here is the result of the command

[code]

[2018-05-15 14:32] amra opened #197 "Support mermaid diagrams"
Add support for mermaid - generating diagram and flowchart from text: https://mermaidjs.github.io/

Adding following code
[code]

would create such image
![mermaid-graph](https://user-images.githubusercontent.com/174620/40063329-68a4418a-585d-11e8-9051-d136c59fb2b7.png)

[2018-05-15 14:34] amra commented on #197
It would be similar to mermaid pandoc filter: https://github.com/raghur/mermaid-filter

[2018-05-16 19:17] webpro commented on #195
Not seeing anything strange here. I don't know Manjaro. Have you tried it on another OS?

[2018-05-16 19:19] webpro commented on #197
Great idea! Looking forward to your PR.

[2018-05-16 19:20] webpro commented on #190
Closing due to inactivity.

[2018-05-16 19:20] #190 closed

[2018-05-30 08:10] DCsunset opened #198 "Can't load reveal.json"
I'm using reveal-md 2.0.5.
My markdown file `slides.md` is in ~/temp/pre.
I put the reveal.json in the directory in both ~/temp and ~/temp/pre.
But the options in reveal.json still aren't loaded when I run
[code]

I have checked the options passed to Reveal.initialize(),
and it seems that they are still the default options.

[2018-05-31 14:43] webpro commented on #198
Hi @DCsunset.

Are you sure `reveal.json` contains valid JSON? If so, can you try with the next command and see if there's anything interesting in the output:

[code]

[2018-06-01 02:40] DCsunset commented on #198
My reveal.json:
[code]

[code]

It seems that it can read the options,
but it fails to apply it.
Consequently, no slide number appears in slides.

[2018-06-05 21:53] Allaman opened #199 "Slide background not working with static site export"
reveal-md version: 2.05
OS: OpenSuse Tumbleweed

`reveal-md presentation.md --static public `does create an index.html with images as string encoded. Nevertheless slide background images are neither integrated in the html nor copied to the exported directory. Therefore, the slides are missing there background.

Snippet:

[code]
background is not visible in the exported presentation. Colored font i

[2018-06-05 22:10] Allaman commented on #198
Tried to enable slide options with yaml front matter. No slide numbers in the exported file. Maybe because in in index.html the var is appearing two times

[code]

[2018-06-06 13:51] DCsunset commented on #198
@Allaman Thanks. That's a good solution. Still it seems that there's some problem with reveal.json.

[2018-06-14 16:02] dorianbrown opened #201 "Add shorthand for fragments"
Hi guys,

Big fan of the library, makes writing reveal.js presentation super nice.

One thing I think is missing (or maybe I didn't see the option) is easily inserting fragments into slides. The only way I could find is using

[code]

which seems a little clumsy. Any ideas on what would be a good sequence for this?

Maybe something like `<frag>`? This isn't really consistent with the rest though..

[2018-06-14 18:17] dorianbrown commented on #198
Same here. I want to apply `"transition": "slide"`, and it's being read but not applied:

[code]

Any ideas on what to look at?

[2018-06-14 20:06] #198 closed

[2018-06-14 20:06] #199 closed

[2018-06-14 20:10] webpro commented on #198
Released a fix in [v2.0.6](https://github.com/webpro/reveal-md/releases/tag/2.0.6).

[2018-06-14 20:10] webpro commented on #199
You can copy extra directories with `--static-dirs`, I've just added this to the docs.

[2018-06-14 20:12] webpro commented on #201
Well, as you found out, your example is the way to do this with reveal.js (https://github.com/hakimel/reveal.js/#element-attributes). Really the only syntax reveal-md adds is to separate slides.

[2018-06-14 20:12] #201 closed

[2018-07-03 10:14] y0va opened #203 "Speaker notes do not become visible with `showNotes: true`"
Following https://github.com/hakimel/reveal.js#share-and-print-speaker-notes I've set the option in the header:
[code]

But the notes stay invisible in the printout using `--print` and in the browser.

[2018-07-03 10:43] webpro commented on #203
You should use a `revealOptions` object to pass options to reveal.js (see https://github.com/webpro/reveal-md#yaml-front-matter for an example).

[2018-07-04 10:03] y0va commented on #203
Ah ok! Thank you!

[2018-07-04 10:03] #203 closed

[2018-07-09 09:08] martinholub opened #205 "Accessing front-matter parameters"
Hello, this is more of a question/ feature-request than issue:

Is it possible to access front matter parameters in such a way to interpret them in the presentation? E.g.
[code]

[2018-07-24 20:08] webpro commented on #205
There is already a PR for this: https://github.com/webpro/reveal-md/pull/183. Unfortunately, the result isn't as intended. Happy to look into an updated or new PR, though.

[2018-08-17 11:20] #195 closed, assigned to nobody

[2018-08-30 13:45] ericmjl opened #206 "Question: how to make featured-slide one of the sub-slides?"
Thank you for building this, @webpro!

I have a small question, not sure if this is possible or not (but it's okay if it's not currently implemented) - I have a sub-slide that contains a really pretty image, which I would like to make as my featured slide. Using reveal-md, how can I make this happen?

Here is what I have tried:

[code]

I have a separate question, regarding where the custom CSS as

[2018-08-30 13:48] ericmjl opened #207 "Question: how to change where custom css assets are placed?"
I have noticed that when running reveal-md, custom CSS assets are placed in a folder called `_assets`.

One thing that I cannot figure out is why github pages cannot find the CSS folder placed in there, though. Everything else loads properly. I have verified this by manually typing in the URLs for each asset that gets loaded.

My question, then, is this: is it possible to change the folder that th

[2018-09-03 12:56] kaischleicher opened #208 "export as Static Website fails"
fist, thanks for this awesome tool!
I wish to export my presentation as static website, but ran into issues (with puppeteer?).
I have node v10.9.0, npm v6.2.0, reveal-md v2.1.0 and am using linux mint 18.3.

- a fresh installation of reveal-md using `npm install -g reveal-md` finished with an error "Failed to download Chromium r549031!", even when using root rights.
- I managed an error-free insta

[2018-09-03 20:06] webpro commented on #206
Hi @ericmjl, thanks! Featuring a sub-slide is currently not supported indeed. It shouldn't be too hard to implement, though:

https://github.com/webpro/reveal-md/blob/2becce4b3544139fca4f226f86b8c26d70e79206/lib/featured-slide.js#L37-L39

[2018-09-03 20:07] webpro commented on #207
That sounds weird. So the Javascript is loaded from `_assets`, but the CSS is not?

[2018-09-03 20:09] webpro commented on #207
Oh wait, you are saying _custom_ assets, the ones you add yourself? See this command, you can use any dir you want:

[code]

[2018-09-03 20:12] webpro commented on #208
Hi @kaischleicher, thanks! Are you able to install puppeteer itself? I.e. `npm install -g puppeteer`. Maybe there's an issue with installing npm packages (or puppeteer specifically) globally.

[2018-09-04 07:34] kaischleicher commented on #208
Hi @webpro, `npm install -g puppeteer` unfortunately also fails with the same error (even when using root rightsr) as the first point mentioned, i.e.

See below for the full output with the error message:
[code]

[2018-09-04 08:15] webpro commented on #208
That tells me the issue most likely isn't in reveal-md. All the information is in the log you posted. If you still have problems with reveal-md if this has been solved, feel free to re-open!

[2018-09-04 08:15] #208 closed

[2018-09-04 18:51] ericmjl commented on #207
@webpro thanks for getting back! I eventually figured out that GitHub pages, which is built by Jekyll, ignores any directories and files that are prefixed with an underscore.

That said, I'm wondering if we could create a different target directory for static assets? For example, instead of placing all the files in `_assets`, can we put it in a directory called `static`?

[2018-09-04 21:38] webpro commented on #207
Ah, nice find. It wouldn't be too hard to make it configurable. I don't have a lot of time for this currently, but let's leave this issue open in case you or anyone else is up to this task!

[2018-09-10 12:43] JulienPalard opened #210 "--puppeteer-launch-args not given to puppeteer launch args."
As the title say, the puppeteer-launch-args are just not given to puppeteer. Looks like they are not used at all.

[2018-09-10 13:22] dorianbrown opened #211 "Latex not being ignored by markdown parsing"
# Problem
While adding some latex to slides, I discovered a bug where two underscores (used a lot of subscripts) where translated into `<em>` tags. So this:
[code]
was rendered like this in the presentation's HTML:
[code]
which is far from ideal.
## Possible Solution
Although I am not familiar with the code, I believe there is a parser which translates the markdown to HTML. A solution would be to

[2018-09-11 17:16] matthiasharrer commented on #210
This seems to be the same issue I encountered here: #209

The ```--puppeteer-launch-args``` were respected for printing the featured slide https://github.com/webpro/reveal-md/blob/master/lib/featured-slide.js#L42 but not for printing the whole pdf of the slides.

[2018-09-16 20:43] webpro commented on #210
This should be fixed in [v2.1.1](https://github.com/webpro/reveal-md/releases/tag/2.1.1). Thanks!

[2018-09-16 20:43] #210 closed

[2018-09-16 20:53] webpro commented on #211
Not sure if this is a bug, as there is not actually any support for LaTeX. Did you add your own scripts for to render this?

Related: #109

[2018-09-16 21:17] JulienPalard commented on #210
Thanks @webpro!

[2018-09-16 22:02] dorianbrown commented on #211
I didn't add anything for LaTeX, it's included in the default template, `lib/template/reveal.html`:

https://github.com/webpro/reveal-md/blob/81109970d3eaf26ddd7602009e0e9eb41c9fd962/lib/template/reveal.html#L55-L64

It's possible this is a bug in reveal.js, but I haven't tested that yet. I'll see if I can create some markdown slides in reveal.js to test this.

[2018-09-21 05:19] gwpl opened #213 "Timer/Stopwatch in presentation mode ([s] key) does not work -> regression against revealjs.com"
When I try with https://revealjs.com/#/ , pressing [s] key opens window with presentation mode and working timer.

When I try the same with presentation I --static generated with reveal-md, time stays "00:00:00 0:00 AM".

[2018-09-21 07:13] webpro commented on #211
Right, I forgot that MathJax can parse LaTeX as input. Related issues:

* https://github.com/hakimel/reveal.js/issues/702
* https://github.com/hakimel/reveal.js/pull/1205
* https://github.com/hakimel/reveal.js/issues/1359

I'm going to close this issue, as I still think it's an issue with the reveal.js plugin(s).

[2018-09-21 07:13] #211 closed

[2018-09-21 07:15] dorianbrown commented on #211
Yeah you are right, it's an issue with the marked plugin which is used to parse the markdown. There's already a PR to fix it.

[2018-09-21 11:54] yakir12 opened #214 "css image style not repected for static"
I'm trying to get rid of the image borders by supplying a css file `style.css` which contains:
[code]
and this command: `reveal-md presentation.md -w --css style.css`
That works, for instance:
![screenshot_2018-09-21_13 47 12](https://user-images.githubusercontent.com/3281957/45879486-fd7e5000-bda4-11e8-9ecb-b7b52a716664.png)

But if I export it to a static site (for later hosting on github), with

[2018-09-21 13:04] webpro commented on #214
Hi, @yakir12! With a static export, custom assets need to be copied over as well using `--static-dirs`: https://github.com/webpro/reveal-md#static-website

[2018-09-21 13:12] yakir12 commented on #214
But no assets were used. My images are url links, such as:
[code]
Not sure what to supply `--static-dirs` with..?

[2018-09-21 13:19] webpro commented on #214
Ah, my apologies. You mentioned a custom `style.css` file. But now I see that reveal-md is already smart enough to copy that over.

So, is the stylesheet loaded by the browser? I'm seeing a `<link rel="stylesheet" href="./_assets/style.css">` as the last stylesheet, so that's looking fine. Does the `.reveal section img` selector actually match with the HTML that is eventually rendered?

[2018-09-21 15:52] webpro commented on #214
OK, I actually cloned your repo. Started a static server from the root. It displays the image without a border, and I can see the styles from `style.css` are loaded and applied (tried in two different browsers).

Also, even opening the deck with `index.html` from the file system works/looks fine.

You mentioned "live reload". Can you elaborate?

[2018-09-21 16:39] yakir12 commented on #214
1. Thank you for the effort.
2. I do not understand why it worked for you and not me #privilegediscrimination (joking).
3. raw opening the `index.html` worked for me too!!
4. live load: just the normal `reveal-md presentation.md -w`, sorry for the terminology, I was just trying to use [this](https://github.com/webpro/reveal-md#live-reload) terminology.

[2018-09-21 17:14] webpro commented on #214
I'm going to close this ticket. Don't think I can/should debug this particular issue on your end. Feel free to (re)open and discuss. Good luck!

[2018-09-21 17:14] #214 closed

[2018-09-21 19:21] yakir12 commented on #214
I understand the conundrum, but:
* I ran this `reveal-md presentation.md --css style.css --static whyjulia`
* I `git push`ed (after a `add` and `commit`) the content of `whyjulia` to github
* I changed the setting for that github repo so it'd behave as a website
* and the content is accessible on https://yakir12.github.io/whyjulia

If you go to https://yakir12.github.io/whyjulia/#/ or to https://y

[2018-09-21 19:26] gwpl opened #215 "audio-slideshow plugin compatibility : Audio recording / play"
audio-slideshow plugin allow to play audio, synchronised with videos, and also record such and download as zip file.

Would be great to be able to use such plugin with reveal-md , to record audio for each slide, download as zip file, and later add to Markdown of presentation.

Even just ability to add audio to slides (so they play audio files and auto-progress as you see on demo link below) would

[2018-09-23 08:52] webpro commented on #213
Hi, @gwpl. That functionality seems to work fine for me. Can you please [provide some more details](https://github.com/webpro/reveal-md/blob/master/CONTRIBUTING.md#-file-a-bug), such as the browser you're using, any errors in the browser?

[2018-09-23 08:54] webpro commented on #215
Sounds like a nice feature, I'm happy to accept PR(s) for this.

[2018-09-24 21:53] webpro commented on #214
The error regarding "featured slide snapshot" shouldn't happen, as the related argument(s) weren't provided. I've just released [v2.1.2](https://github.com/webpro/reveal-md/releases/tag/2.1.2) that should not even try to use puppeteer in this case.

[2018-09-25 12:59] yakir12 commented on #214
Wow, thanks, but alas the frames are still [there](https://yakir12.github.io/whyjulia/#/). It's really minor and I've given the presentation a few hours ago, so no biggy.
Thanks for the wonderful work!!!

[2018-09-25 18:21] robertdebock opened #216 "Printing: Puppeteer unavailable, unable to generate PDF file."
When using [this container](https://github.com/robertdebock/docker-revealmd/blob/master/Dockerfile) to print a presentations, I see this errror:

[code]

It seems this should work, but does not. Maybe something is not installed? (Missing from package.json?)

[2018-09-25 21:13] webpro commented on #216
Hi @robertdebock. Not sure what's going on in the Dockerfile, but you may remember #191. Apparently Puppeteer fails to install in the container, which is outside the scope of reveal-md.

[2018-09-25 21:13] #216 closed

[2018-09-26 20:43] ccamara opened #217 "Reveal-md vs reveal.js + external markdown"
On my search for a way to author presentations using markdown for fast authoring yet flexible and customizable presentations, I discovered reveal.js some weeks ago. Today I have just discovered reveal-md and while I like everything I am reading on the official documentation I am wondering about the differences with using reveal.js + external markdown.

As far as I know, both ways require compilati

[2018-10-08 15:29] webpro commented on #207
Just released this in [v2.2.0](https://github.com/webpro/reveal-md/releases/tag/2.2.0). Now the assets dir can be adjusted using `--assets-dir=my-stuff`.

Thanks to @kazigk for picking this up!

[2018-10-08 15:29] #207 closed

[2018-10-15 19:05] webpro commented on #217
I think you're describing the differences quite well. I think the main advantages of reveal-md is that you only need a Markdown file, and it starts a simple server so the presentation is available at e.g. [http://localhost:1543]() automatically.

Next to this, there are a few gimmicks such as using YAML front matter for configuration options and Markdown pre-processing.

[2018-10-15 19:05] #217 closed

[2018-10-15 19:50] #206 closed

[2018-10-15 20:16] webpro commented on #206
Thanks to @kazigk, I just released this in [v2.3.0](https://github.com/webpro/reveal-md/releases/tag/2.3.0).

[2018-10-20 01:08] pezcode opened #221 "Custom CSS specified in YAML header not copied when generating static website"
I specify a custom CSS in the YAML front matter header like this:
[code]
which works fine for live presentations (`reveal-md -w slides.md`). But when I export it to a static website:

[code]

it generates the correct stylesheet link in the html header
[code]
but it doesn't copy the *_assets* folder.

What **does** work is specifying `--css slides.css` in the previous call to reveal-md - it correct

[2018-11-15 12:41] mvdkleijn opened #222 "Adding a header and / or footer"
Sorry if this is a stupid question... is it possible to add a header and/or footer for all slides?
I've got two small logos that I have to add, preferably top left and bottom left and tried doing this with custom CSS but didn't have any luck. Best I can manage is a single logo using something like:

[code]

[2018-11-21 16:44] webpro commented on #222
Either you would work with the existing template, if it has enough "hooks" in the markup to apply the CSS to. Or, you can use a different template: https://github.com/webpro/reveal-md#custom-template. You can copy the one from this project and make the modifications you need. Let me know if you still got any issues!

[2018-11-21 16:44] #222 closed

[2018-11-21 16:45] webpro commented on #221
The whole "generate static website" got a bit out of hand; but I'm happy to accept a PR with a fix!

[2018-11-21 16:46] webpro commented on #213
Closing due to inactivity.

[2018-11-21 16:46] #213 closed

[2018-11-28 10:23] facontidavide opened #223 "Two columns"
Ok, this is probably a stupid question related to the fact that I am not familiar with CSS and HTML.

Is there any way to support a 2 column layout in reveal-md?
If there is, it would be nice to have it either in the readme or the wiki

[2018-11-28 10:40] facontidavide commented on #223
I am trying this https://stackoverflow.com/questions/30861845/how-to-use-two-column-layout-with-reveal-js

But the text inside div is not recognized as markdown

[code]

[2018-11-28 10:44] webpro commented on #223
Oh yes, I forgot about HTML within the Markdown. Isn't an extra newline before the closing `</div>` necessary?

[2018-11-28 10:48] facontidavide commented on #223
Even with the newline, it doesn't work

[2018-11-28 10:50] webpro commented on #223
I think I've seen people using HTML within Markdown with reveal-md. You could search the issues in this project, maybe there are working examples.

[2018-11-28 14:01] facontidavide commented on #223
I could not find any useful information on the internet... anyway, thanks for your awesome work.

[2018-11-29 09:51] #215 closed

[2018-11-29 14:10] gwpl commented on #215
Sorry for not "pinging" that this is still really nice feature to have :).

[2018-11-30 15:44] ndaman opened #225 "custom name for static html"
I am using reveal-md to prepare lecture notes for my class, and it would be nice if I could share one common folder structure but simply have a name other than index.html given to the static page. Is there a simple way to do this already that I'm missing? Or could it be added as an option to --static? Thanks!

[2018-12-04 19:46] doppelganger9 commented on #164
Hi, @webpro any update on this PR?

[2018-12-05 09:16] xigrug opened #226 "firefox --print not work"
npm list -g --depth=0

firefox --version

google-chrome --version

the file can be find in [intro-to-category-theory](https://github.com/ruippeixotog/intro-to-category-theory)

reveal-md slides.md

reveal-md slides.md --static ./test

This is no problem, but:
reveal-md slides.md --print test.pdf

and nothing to happen.

I try to change the chrome to the default browser, but it failed. `Google Chro

[2018-12-05 09:32] webpro commented on #225
This isn't featured in reveal-md currently. You could provide a custom folder name (e.g. `--static my-lecture`), but it still contains `index.html`.

Happy to look into a PR for this, though!

[2018-12-05 09:36] webpro commented on #226
Hi @xigrug! `reveal-md` uses Puppeteer to generate the PDF. It is an optional dependency to the reveal-md package (but required to generate PDF).

Was Puppeteer installed with reveal-md? You can try again with `npm install -g reveal-md`, and check the logs.

[2018-12-05 10:15] xigrug commented on #226
Hi @webpro, I don't get some information for Puppeteer:

npm install -g reveal-md

[2018-12-05 10:31] xigrug commented on #226
I find some information about puppeteer:
 ├──  error: ENOENT: no such file or directory, open '/public/home/hysplit/software/node-v8.11.3/lib/node_modules/reveal-md/node_modules/nan/package.json
  ├─┬ opn@5.4.0
  │ └── is-wsl@1.1.0
  ├─┬ `puppeteer@1.3.0`
  │ ├── debug@2.6.9 deduped
  │ ├─┬ extract-zip@1.6.7
  │ │ ├─┬ concat-stream@1.6.2
  │ │ │ ├── buffer-from@1.1.1
  │ │ │ ├── inherits@2.0.3 ded

[2018-12-05 10:43] webpro commented on #226
Perhaps Puppeteer is not supported on CentOS? Why is "firefox" in the title of this issue?

[2018-12-05 11:55] xigrug opened #227 "picture does not show fully"
`reveal-md slides.md --highlight-theme github`
this is ok.
`reveal-md slides.md --highlight-theme github --static test`
 Just half of the picture is displayed for the  index.html.

`npm list -g --depth=0`

the test file can be find in [intro-to-category-theory](https://github.com/ruippeixotog/intro-to-category-theory)

[2018-12-05 12:00] webpro commented on #227
That sounds like an issue with HTML/CSS and/or [reveal.js](https://github.com/hakimel/reveal.js) itself. Feel free to discuss, but I'm going to close this issue for now.

[2018-12-05 12:00] #227 closed

[2018-12-05 12:15] xigrug commented on #226
OK, I think maybe it is caused by firefox.
Another issue，[intro-to-category-theory](https://github.com/ruippeixotog/intro-to-category-theory) is ok
 for fully picture.

[2018-12-05 13:35] webpro commented on #226
I'm going to close this issue, but feel free to re-open to discuss anything related.

[2018-12-05 13:35] #226 closed

[2018-12-07 13:14] ebousse opened #228 "[feature] Split single presentation in multiple .md files?"
While having to write all slides of a single presentation in a single `.md` file is OK for small-ish talks, navigating in the single markdown file can become difficult when it gets very large.

Idea: could reveal-md provide a simple way to take as input a list of `.md` files instead of a single one, and could simply append them (in memory) before processing them as one large file as usual?

The li

[2018-12-07 17:16] webpro commented on #228
One option that is already available is to link to another file, e.g. you can have `[deck b](./b.md]` in `a.md`.

Another one is to concatenate files and open the result:

[code]

Does that help?

[2019-01-03 13:04] rshev opened #229 "Defining `css` in reveal-md.json throws exception on startup"
If I define `css` in `reveal-md.json`, reveal-md fails to start.

It seems that `config` initialisation calls `parseOptions(local)` which while parsing `css` assets calls `getOptions` which tries to access `config` which hasn't finished initialising yet. I'm not a js guy to fix it (shouldn't be hard to fix though).

[code]

[2019-01-04 09:37] doosik71 commented on #109
I use markdown format to produce not only reveal-md presentation but also pandoc pdf and gitbook.
Pandoc and gitbook works fine without escaping underscore in math expression.
This problem only happens in reveal-md.
If I escape underscore to work around for reveal-md, it breaks rendering in pandoc and gitbook.
Reveal-md need to solve this problem.

[2019-01-04 10:49] webpro commented on #109
@doosik71 It's not an issue in reveal-md itself, it's in the reveal.js Markdown plugin (https://github.com/hakimel/reveal.js/tree/master/plugin/markdown).

[2019-01-13 22:40] BPScott commented on #228
[Reveal supports referencing an external markdown files](https://github.com/hakimel/reveal.js#external-markdown) by customising the data-markdown property It might be worth playing with that?

[2019-01-14 03:00] BPScott opened #230 "revealOptions in md frontmatter should merge with options in reveal.json"
Currently if you specify any `revealOptions` in yaml front matter then nothing from reveal.json shall be honoured. I think these objects should be merged. As it currently stands it is not possible to specify some defaults in reveal.json, then override some of them by using `revealOptions` on a per-markdown file basis.

Consider the following:

Given a `reveal.json` with a setting in it:

[code]

a

[2019-01-21 06:41] iranzo opened #231 "[RFE] 'standalone file' with remote resources"
Currently the standalone version, outputs not just the presentation but resource files.

My understanding is that this is done to allow 'offline' presentations and to present where there's no reveal access.

I've enhanced a Pelican plugin https://github.com/iranzo/pelican-revealmd/ that uses 'pandoc' to improve some of the issues I found, but as it uses pandoc, features like proper slides in verti

[2019-01-21 10:20] SebCorbin opened #232 "disableAutoOpen won't work"
Either by specifying `--disable-auto-open`or putting `{"disableAutoOpen": true}` in `reveal-md.json`, links in my presentation will always open in popin...

[2019-01-24 18:39] MurhafSousli opened #233 "Global CSS for multiple presentations"
I use multiple presentations, my directory structure is like this

[code]

I am wondering if it is possible to use the same styles across all presentations

[2019-01-27 18:57] #221 closed

[2019-01-29 20:05] webpro commented on #233
Yes, for example:

[code]

[2019-01-29 20:35] webpro commented on #232
The `--disable-auto-open` command-line argument should work.

You could try with the latest version I just released:

[code]

[2019-01-29 20:36] webpro commented on #230
Should work in the next release:

[code]

Would appreciate it if you could give this a shot on your slides.

[2019-01-29 20:37] webpro commented on #231
Not sure what exactly you are asking for?

Anyway, today I've refactored reveal-md to no longer inline images. So they're always external to the markdown/markup. Could you give it a shot?

[code]

[2019-01-29 20:48] webpro commented on #225
I've just released a pre-release for v3, which might be what you're after. When doing a `--static` export of a whole directory (e.g. `reveal-md dir/`), it generates `slides-a.html` from `slides-a.md` etc.

You can install this:

[code]

Happy to know whether this works for you.

[2019-01-30 08:03] iranzo commented on #231
Hi,
What I meant, is to just 'save' the 'html' file without headers, css, etc.

I'll be trying the updated version to see how it behaves and if something can be done here.

Thanks a lot!
Pablo

[2019-02-02 10:43] kaischleicher opened #234 "how to embed a video?"
Hi, I have a local .mp4 video file and do not manage to add it to my slideshow. Is this a supported feature?
I tried:
[code]
and
[code]
but both do not work for me (tested in firefox, chrome, and opera). Thanks for your help!

[2019-02-02 15:41] webpro commented on #234
This copy-pasted example works fine for me:

[code]

[2019-02-02 15:43] webpro commented on #234
Ah, I think the `src` attribute should not be absolute (`/...`) but relative (`./...`).

And you can embed any HTML in Markdown, reveal-md shouldn't touch it.

[2019-02-02 18:05] kaischleicher commented on #234
super, thanks for the code snippet! I used it to test and found that it was in fact my mp4 video file that could not be played. I could test it successfully with a webm file. Not sure if my mp4 is the problem or maybe a missing codec in the browser though. Thanks!

[2019-02-03 11:33] #234 closed

[2019-02-07 13:34] mikesolem opened #235 "Fragments and code"
Is it possible to do data-noescape with reveal-md?
  https://github.com/hakimel/reveal.js#code-syntax-highlighting

Is it possible to use "fragment" with code blocks?  Either fragments within a code block, or having multiple code blocks each as a fragment?

I want to be able to show source code, revealing a few more lines at a time.

Thanks

[2019-02-15 12:17] bukowskiadam commented on #228
I needed that too and used custom markdown preprocessor to fix that

preprocess.js
[code]
then set [custom preprocessor](https://github.com/webpro/reveal-md#pre-process-markdown) option

then write `index.md`
[code]

and write the rest of slides in chapter files.

[2019-02-15 17:15] jwgrenning opened #236 "install errors"
Hi

I get errors when I install reveal-md.  I can run a basic presentation with a couple slides and bullet points.   I can't generate a PDF.  It says `Puppeteer unavailable, unable to generate PDF file.`

Here are the install errors.

`
$ sudo npm install -g reveal-md
Password:
/usr/local/bin/reveal-md -> /usr/local/lib/node_modules/reveal-md/bin/cli.js

node-pre-gyp WARN Using request for node-pr

[2019-02-15 18:08] webpro commented on #236
Looks like you're on a OS that is not supported by Puppeteer. It's an optional dependency of reveal-md. If it's not available, PDFs can't be generated. Sorry, not much I can do about it.

(Also, in general, it's not a best practice to install packages with `sudo`. But that doesn't seem related to this issue.)

[2019-02-15 18:08] #236 closed

[2019-02-15 18:13] webpro commented on #235
In general, reveal-md supports what reveal.js supports. Here is the list of plugins: https://github.com/webpro/reveal-md/blob/bcf9b0f27d27d5b1df6f8ff95c7ceedaa81fe347/lib/template/reveal.html#L57-L63

reveal-md basically just separates the slides for you.

What did you try? What does not work as expected?

[2019-02-15 18:57] jwgrenning commented on #236
Thanks for the prompt reply.

I am on a Mac. I think I'll give it a try from a Docker container.

Thank for the sudo warning.

James

On 15 Feb 2019, at 12:08, Lars Kappert wrote:

[2019-02-15 19:04] webpro commented on #236
I'm on macOS as well, Puppeteer should definitely install/work. Looks like sudo is the culprit:

[code]

Guess your main challenge is to make sure `npm install -g` works without `sudo`.

[2019-02-15 19:42] jwgrenning commented on #236
I first tried without sudo and got a permissions error.  Then I got the
same with sudo. (If I recall correctly, but I would not have added sudo
without a permissions error)

..... Time goes bye ...

THANKS, you clue on the install has me up and running.

On 15 Feb 2019, at 13:04, Lars Kappert wrote:

[2019-02-18 19:30] mikesolem commented on #235
Ok, I understand.  I went back to the reveal.js docs, and was able to get it working.  This seems to do what I want:

[code]

Thanks for your help!

[2019-02-25 21:02] daggerok opened #237 "destination ignored by --static"
Hello,

I'm using following command to build my slides for github pages

[code]

but output folder is still `_static`:

[code]

Is it a bug or expected behavior? Can I specify somehow output directory to avoid `_static -> dist` rename by using post npm-scripts like so?

[code]

_versions_

- reveal-md: `3.0.0`
- npm: `6.8.0`
- node: `v10.9.0`

Thanks!

---
Regards,
Maksim

[2019-02-25 22:24] #237 closed

[2019-02-25 22:25] webpro commented on #237
Thanks @daggerok! It was a bug, should be fixed in [v3.0.1](https://github.com/webpro/reveal-md/releases/tag/3.0.1).

[2019-02-25 22:27] webpro commented on #235
Great you got it working for you. Thanks for letting me know!

[2019-02-25 22:27] #235 closed

[2019-02-25 23:24] daggerok commented on #237
Wow, you are so fast, awesome!
Thanks for quick fix!

[2019-02-26 14:07] webpro commented on #237
Sure! Thanks for the detailed bug report.

[2019-02-26 15:23] yakir12 opened #238 "How to kill/terminate the background reveal-md server"
I started a session with `&` at the end (as part of a series of shell commands I want to run from a `.sh` file):
[code]
and if I try running the same file again I get the following. I interpret it as that that specific gate is already used by the previous session. Any easy way to kill the previous session? I can't find anything obvious (to me) in `htop`...
[code]
Thanks!!!

[2019-02-26 15:37] webpro commented on #238
Hi @yakir12! Not a reveal-md issue, but you can do e.g.

[code]

to find the `pid` and kill the process.

[2019-02-26 15:37] #238 closed

[2019-02-26 15:46] yakir12 commented on #238
Ah! Perfect, Thanks a lot!!!

[2019-03-02 11:11] pikalo opened #239 "Error --print in docker container"
When i want to use **--print** in docker container
[code]

Because of the puppeteer and chromium error

When I searched the internet, I reached this link too
[https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md](https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md)

* Setting Up Chrome Linux Sandbox
   * If you absolutely trust the content you ope

[2019-03-02 11:17] pikalo commented on #239
I would suggest that you create a **docker image** for use with `reveal-md`, if possible

[2019-03-02 11:20] webpro commented on #239
I think this is where `--puppeteer-launch-args` comes in (see `reveal-md --help`)

[2019-03-03 12:11] pikalo commented on #239
### For docker container (ubuntu):
In order to generate PDF, `reveal-md` needs to install `puppeteer & Chromium` which is not installed in container by default. Thus, we need to install reveal-md with command **-f**
[code]
I installed it but again Chromium didn't work properly because it needed more packages for container.

[code]
I added the needed packages to container. Then, I added `--puppetee

[2019-03-04 19:20] #239 closed

[2019-03-05 08:46] webpro commented on #239
Thanks, @pikalo! This is useful for other people as well.

[2019-03-08 16:13] mcanlas opened #241 "Live reload / watch not working since 2.4.1"
I upgraded to the 3.0 series from 2.4.1 and the live reload option stopped working.

[2019-03-08 23:51] pikalo opened #242 "reveal-md path/to/my/slides.md doesn't work"
In new version, images are not displayed correctly when I want to run a md file like your example or in print to pdf

[code]

The reason is the wrong path on the server

[code]
It should be :

[code]
Everything worked correctly in version 2.4.1

[2019-03-09 08:05] #232 closed

[2019-03-09 08:05] webpro commented on #230
Should work in v3

[2019-03-09 08:05] #230 closed

[2019-03-09 08:08] webpro commented on #241
Seems to work fine here. Could you share the steps to reproduce?

[2019-03-09 08:12] webpro commented on #242
This means images should be in the same or a subdir of the Markdown file.

The alternative is to start e.g. `reveal-md .` and navigate to your Markdown file there.

[2019-03-09 08:14] #233 closed

[2019-03-09 08:15] #225 closed

[2019-03-09 10:17] pikalo commented on #242
the alternative way (`reveal-md .`) functions well for the server (web view), but what is the alternative for  exporting PDF? it is better to give path like the older version. If someone wants to use md file without path, it is better to run reveal-md from md file path. the second method is that it is better to have option in reveal.json for choosing path as same as old or new version. the older v

[2019-03-09 10:51] webpro commented on #242
The codebase is much cleaner now, without support for every imaginable use case. You can stay on v2 to keep things the way you want. Sorry for the inconvenience!

[2019-03-09 10:51] #242 closed

[2019-03-11 15:41] HoverBaum commented on #241
Just ran into the same issue. Looks like the option isn't handed to the handlebars context correctly. Will so some more investigation and hopefully open a Pull Request to fix this.

[2019-03-13 20:41] #241 closed

[2019-03-13 23:54] lanartri opened #245 "Remote Resources problem"
hello,

there is problem about remote resources,

(npm installation and test on ubuntu docker)

path seems $pwd/https://remote_source

root@261ad571e50a:/# reveal-md https://raw.githubusercontent.com/webpro/reveal-md/master/demo/a.md
{ Error: ENOENT: no such file or directory, stat '/https:/raw.githubusercontent.com/webpro/reveal-md/master/demo/a.md'
  errno: -2,
  code: 'ENOENT',
  syscall: 'stat

[2019-03-28 22:40] draptik commented on #228
@bukowskiadam Your solution looks interesting. Could you provide a minimal example?
Running your demo code simply outputs the string `FILE: chapter-1.md` instead of replacing it with the content of the file.
I have tried replacing the line separator with `\r\n` (instead of `\n`, because I'm currently on Windows), but still the preprocessor does not replace any content.

[2019-03-29 11:00] bukowskiadam commented on #228
Here you are https://github.com/bukowskiadam/reveal-md-multifile
There is no recursive file includes. It could be added but I haven't need it yet.

[2019-03-30 09:59] draptik commented on #228
@bukowskiadam  Thank you very much, your sample works like a charm!

[2019-04-07 09:47] #231 closed

[2019-04-10 00:38] draptik opened #248 "Demo font-awesome"
Could somebody demonstrate how to include font-awesome fonts?

I have read https://github.com/webpro/reveal-md/issues/129 but I still do not know the proper way to use the fonts.

I would like to use it like:

[code]

Pointers or demo-projects?

[2019-04-10 05:07] kiwidamien commented on #223
Can we reopen this issue? Came here looking for the same thing --  I can make two columns by creating divs (as in the example above) but then all Markdown in the divs no longer renders.

[2019-04-10 06:04] webpro commented on #223
Reopening for visibility. Yet the ~issue~ challenge is more with reveal.js and the Markdown parser, so I'm afraid there isn't much that reveal-md itself can do.

[2019-04-23 23:53] rmarku commented on #248
Hi draptic,
I fixed it by adding the following CSS styles in a file.
[code]

This is for last font awesome where the twitter icon is:

[code]

Here I have something
https://github.com/rmarku/slides

[2019-04-28 15:54] xarthurx opened #249 "videos in a parent folder"
hi, is it possible to embed a video file in another folder under the parent folder?

say I have:

[code]

I only manage to make it work if the video file is under `xx\slides` or `xx\slides\whatever`, but not the above setup.

Guess this is because the **node.js** server is setup under `slides` so that there is no access to the video file?
Or some other reasons?

Thanks.

[2019-04-28 17:47] xarthurx opened #250 "bullets of nested list with bold/italic font hint is not hidden with `fragment`"
for code:
[code]
everything works fine.
but for

[code]
the bullet of the sublist will always show:
![image](https://user-images.githubusercontent.com/1921878/56868078-152e4e80-69ee-11e9-9ad7-f407b4340cf2.png)

or

[code]

the italic part will not be shown.
![image](https://user-images.githubusercontent.com/1921878/56868103-5c1c4400-69ee-11e9-9d57-f2ea8fc7ed8f.png)

Not sure if this is a `reveal-m

[2019-04-28 17:54] xarthurx commented on #250
Found solution here:
https://github.com/hakimel/reveal.js/issues/1848

closing.

[2019-04-28 17:54] #250 closed

[2019-04-28 18:42] webpro commented on #249
That's correct. Files are served from the directory where the slides are in.

[2019-04-28 18:42] #249 closed

[2019-04-30 04:45] ShuguangSun opened #251 "[feature] stop server after close the chrome window"
Is it possible to stop the server or exist preview after closing the chrome window or idle?

Like the -time-out in [markdown-preview](https://github.com/yuanchuan/markdown-preview)

[2019-05-22 08:24] JulienPalard commented on #222
If of any help¹, a friend helped me do it here: https://framagit.org/JulienPalard/paris.py-19/blob/master/reveal.html

1: If, like me, you're really not a "front-end guy"...

[2019-06-03 22:35] izumitelj opened #252 "Unable to override themes after update"
After updating reveal-md (>3.0.4), npm (>6.9.0) and nodejs (>v10.16.0) on Windows 7 x64, I could no longer override theme. Suggested syntax `reveal-md slides.md --theme solarized` or `reveal-md slides.md --theme theme/my-custom.css` doesn't work, neither for built-in themes or custom ones.

The only way to make it work is by removing line defining default theme from the header of the markdown (YAM

[2019-06-04 23:24] marcbria opened #253 "Unable to print"
When I ask for a printed version as follows:
`$reveal-md about.md --print about.pdf`

I get the following error:
[code]

I don't see a verbose option or a log to report it better.

[2019-06-05 10:47] #228 closed

[2019-06-05 10:49] webpro commented on #253
You can try this:

[code]

[2019-06-05 13:41] marcbria commented on #253
Thanks. This is the output:

[code]

[2019-06-05 20:19] webpro commented on #251
Not sure what you mean. You can `Ctrl-c` or close the terminal to stop the reveal-md server.

[2019-06-05 20:22] webpro commented on #252
That seems like a bug indeed. Feel free to open a PR for this, otherwise I'll look into it soon.

[2019-06-05 20:27] webpro commented on #253
What OS are you on? Was Puppeteer successfully installed? It's probably a problem with Puppeteer.

[2019-06-06 08:02] ShuguangSun commented on #251
Thanks for your response.

We can mannulay using `Ctrl-c` or close the terminal to stop the server. If we can stop the server by determin whether user close the opened brower or brower tap (for example, no interaction in a period), it would be better.

[2019-06-06 08:47] marcbria commented on #253
Ubuntu 18.04.1 LTS

Wasn't but I installed it now and the error it's the same.

Probably you are right. I will dig in this line.

Thanks for your help,
m.

[2019-06-09 09:49] xinity opened #254 "multiple language with reveal-md"
hey there,

I'm planning to move away from using google slides to use reveal-md as especially a good friend as created for me a nifty theme :)
I want to be able to manage multiple language files for the same presentation.
The idea is to have for example in a single md file the English language and the Spanish language.
Depending on a parameter set to reveal-md it will load one or the other.

Do an

[2019-06-09 13:51] opsdisk commented on #253
@marcbria This worked for me:

[code]

[2019-06-10 12:44] seeker0720 opened #255 "words are always capitalized."
### what should i do?

[2019-06-10 21:57] marcbria commented on #253
Thanks a lot @opsdisk for the tip.
It works, but mess my presentation:
1) adding a white frame around the slide.
2) with a page size to little.

I think I remember a reveal-md parameter for the pagesize, but I'm unsure about the white frame.

[2019-06-11 00:28] opsdisk commented on #253
Yeah, I get the same white frame as well.  It created some blank pages because the margins were exceeded for fuller pages.  I'm not really familiar with using puppeteer.

[2019-06-11 07:26] #223 closed

[2019-06-12 19:50] ivakyb opened #256 "Demo does not work"
reveal-md https://raw.githubusercontent.com/webpro/reveal-md/master/demo/a.md

[code]

[2019-06-12 19:53] ivakyb commented on #256
## Workaround
    wget https://raw.githubusercontent.com/webpro/reveal-md/master/demo/a.md
    reveal-md a.md

[2019-06-12 20:03] ivakyb opened #257 "Monitor file updates in server mode"
It would be great to run server once an then edit file and view it in browser updated immediately.

[2019-06-12 20:22] ivakyb commented on #257
https://github.com/yhatt/marp-cli-example can do this in server mode.

[2019-06-13 07:31] HoverBaum commented on #257
Reveal-md support [live-reload](https://github.com/webpro/reveal-md#live-reload) by adding the `-w` flag.

At least it should, let us know if you find any issues with that feature.

[2019-06-13 09:11] jeud opened #258 "reveal.md and reveal-md won't be loaded"
Hi, there

I have setup the project as below, but it seems that the the reveal.md and reveal-md were not loaded at all

Please guide, thanks

`reveal-md` Version: 3.0.4
OS: Windows 10 Pro

*Path*

[code]

*reveal-md.json*

[code]

*reveal.json*

[code]

I start `reveal-md` using

[code]

[2019-06-13 13:44] HoverBaum commented on #256
A duplicate of #245 which also describes the same error, although doesn't mention the workaround.

Maybe you could open a PR to update the docs @ivakyb, at least until this is fixed 🙂

[2019-06-13 13:51] HoverBaum commented on #258
Hi @jeud, tried to reproduce your issues but didn't get any errors or unexpected behaviour.

What error are you seeing?

The expected behaviour should be that a black tab opens in your browser where you can select between `01.md` and `02.md`.

[2019-06-13 17:56] ekzGuille opened #259 "Different font and different port (Mac OS X)"
Hi, I've tried reveal md (v 3.0.4) on a Ubuntu 18.04, Windows 10 (1709) and a Mac OS X 10.14.5.
On Ubuntu and Windows my reveal-md server launches at the default port (1948) but on my Mac is launching on port (1337).

I've noticed aswell that on Windows and Ubuntu the font is the same, and it's very different from the OSX version (which messes up my slides due font size).

I don't know if you had

[2019-06-15 17:29] ulfsauer0815 opened #260 "docker-compose"

[2019-06-15 17:30] #260 closed

[2019-06-16 17:44] #258 closed

[2019-06-30 00:23] #248 closed

[2019-07-04 19:33] #245 closed

[2019-07-05 10:04] iegik opened #261 "Feature request custom favicon"
https://github.com/webpro/reveal-md/blob/6d068644d2ee5bfdecb85f6e3f45f8b35bf44b19/lib/server.js#L22

- load `favicon.ico` from same directory of markdown file

[code]

[2019-07-05 14:51] frankgerhardt commented on #253
I have the same error. Puppeteer was installed fine, with minor warnings.

[code]

I don't have Chrome installed but used `--puppeteer-chromium-executable="/usr/bin/chromium"`.

It worked but the process never terminates. Still serving the web page? Not expected. Rather that it terminates when the pdf is ready.

[2019-07-05 14:52] frankgerhardt commented on #253
I also have the white margin and some slides are 2 pages in pdf because content flows over from the first page to the second. It would be nice if the content would be on one page and displayed as in the HTML.

[2019-07-06 05:56] webpro commented on #251
Personally, I'm not interested in developing this feature. Feel free to open a PR for this, and I'm happy to look into it.

[2019-07-06 05:56] #251 closed

[2019-07-06 05:58] webpro commented on #254
Hi @xinity. I would recommend to put different languages in different files. It's probably easier to manage "externally" than from inside the presentation/reveal-md.

[2019-07-06 05:58] #254 closed

[2019-07-06 05:59] webpro commented on #255
You can use custom CSS to override any styling: https://github.com/webpro/reveal-md#custom-css

[2019-07-06 05:59] #255 closed

[2019-07-06 05:59] webpro commented on #257
Thanks @HoverBaum! Closing this due to inactivity now.

[2019-07-06 05:59] #257 closed

[2019-07-06 06:08] webpro commented on #259
The default port is `1948`, so somehow in your Mac it's configured to be `1337` (e.g. from CLI `--port 1337` or in `reveal-md.json`).

Not sure how the font looks like on your Mac, but from my experience they're OK for me and other folks :)

[2019-07-06 06:08] #259 closed

[2019-07-06 06:20] #253 closed

[2019-07-06 06:20] webpro commented on #253
The original issue seems to be resolved (by setting the `--puppeteer-chromium-executable` param). I have updated the docs with this.

Please open a PR or open new a new issue for the PDF layout issues. I can already say I that personally I'm not too interested in fixing these myself.

[2019-07-06 06:24] webpro commented on #256
I've removed this part from the docs for now. Let's leave this ticket open until it is resolved.

[2019-07-06 06:25] webpro commented on #261
Feel free to open a PR for this! Happy to look into it and merge it.

[2019-07-23 10:17] #252 closed

[2019-07-23 10:18] webpro commented on #252
Should be fixed in [3.0.5](https://github.com/webpro/reveal-md/releases/tag/3.0.5)

[2019-07-28 08:14] hejmsdz opened #263 "White margins in exported PDFs"
Hi,

I tried to export a reveal-md presentation to a PDF file and noticed that slides are surrounded by white margins. This may be intended for printing, but it's undesirable when the PDF is meant to be presented on screen.

I investigated a bit and found the reason: the page size in Puppeteer `pdf()` call in [print.js](https://github.com/webpro/reveal-md/blob/master/lib/print.js#L35) is hard-code

[2019-07-31 10:49] #261 closed

[2019-07-31 11:02] webpro commented on #263
Sounds good to me, @hejmsdz! Let's use `--printSize` as the argument to override the paper size. Thank you in advance.

[2019-08-06 18:41] ovitrac opened #264 "Reveal-md does not work / any problem with recent updates?"
Dear Webpro,
Many thanks for this great project. The previous versions were working fine on Ubuntu 16.04 and 18.04. I did not succeed to make `reveal-md `working on a fresh installation of a **Centos 7.6** with:
- _nodejs.x86_64   6.17.1-1.el7_
- _npm.x86_64 1:3.10.10-1.6.17.1.1.el7_
- _reveal-md@3.1.0_

The demo generates the following error:
[demo]> `reveal-md a.md`
/usr/lib/node_modules/reveal-

[2019-08-06 18:45] webpro commented on #264
Yes, you need Node v8 or higher (your system has Node v6).

(When installing reveal-md with npm, npm should give a warning.)

[2019-08-06 19:31] ovitrac commented on #264
Thank you for your very prompt response. I installed Node v10 (it is bundled with npm v6.9.0). I followed your advice in a previous post: `npm install -g --no-optional reveal-md.`
Everything is fine now.

[2019-08-06 19:31] #264 closed

[2019-08-27 18:59] hejmsdz commented on #263
I finally made a pull request. @webpro, please let me know if it meets your expectations.

[2019-09-02 07:14] #263 closed

[2019-09-02 12:04] iegik opened #269 "Unexpected behavior on Release 3.0.5"
In release 3.0.5 changed behavior of image tag parsing. For example, in 3.0.4 I can write URL in columns:

[code]

Expected:

<img width="749" alt="Screenshot 2019-09-02 at 15 00 10" src="https://user-images.githubusercontent.com/175293/64113243-68e0e800-cd92-11e9-8d1c-65076ab9a623.png">

Result:

<img width="1252" alt="Screenshot 2019-09-02 at 15 01 30" src="https://user-images.githubusercontent.

[2019-09-02 13:20] webpro commented on #269
Ha, didn't even know this was possible.

This issue is likely due to the update from reveal.js 3.7.0 to 3.8.0, and maybe specifically the Markdown plugin. Could you please try your slides with reveal.js directly? My gut feelings tell me you will need to file an issue there.

[2019-09-03 11:47] jakupmichaelsen commented on #223
I don't know why, but it seemingly works for me 🤔

I've added this to my CSS theme:

[code]

And in my Markdown presentation:

[code]

Which generates:

![imgur](https://i.imgur.com/Awj8VzF.png)

[2019-09-11 07:26] #256 closed

[2019-09-11 11:16] jakupmichaelsen opened #271 "Flexbox in markdown"
Hello.
I'm using CSS to use flexbox in reveal-md, but I was wondering if there's a way to implement it using markdown comments?

CSS
[code]
In slides:
[code]

[2019-09-11 18:19] webpro commented on #271
This depends on what reveal.js itself supports (https://github.com/hakimel/reveal.js/#markdown). Basically the only thing reveal-md is doing here is separating the slides, the rest is handled by reveal.js.

Therefore I'm going to close this issue, but feel free to discuss further.

[2019-09-11 18:19] #271 closed

[2019-09-11 18:38] jakupmichaelsen commented on #271
Thanks for the feedback! I've posted the same question at the reveal.js repo (https://github.com/hakimel/reveal.js/issues/2478). Will update if I find a solution :)

[2019-09-28 14:01] nautikos1235 opened #273 "Missing latest docker image"
Hello @webpro !

I see you created a docker hub account, but you did not publish any image with the `latest` tag that is referenced in the README:
[code]

I think you should publish this tag or fix the doc (1st solution is best).
Were you able to setup image auto-build ?

[2019-10-04 09:28] jakupmichaelsen opened #274 "Local custom theme path"
Is it possible to specify a custom, local, absolute path to my own theme, instead of having to place my css-file in `npm\node_modules\reveal-md\node_modules\reveal.js\css\theme`?

[2019-10-06 15:52] webpro commented on #273
In order to `docker push`, I need to authenticate:

[code]

Then I tried to use `index.docker.io` as the server to login, which works, but then I still get:

[code]

Do you maybe have suggestions on how to proceed here?

[2019-10-06 15:54] webpro commented on #274
Yes, it's documented here: https://github.com/webpro/reveal-md#theme

Please let me know if anything is not clear or doesn't work for you.

[2019-10-06 15:57] webpro commented on #269
Closing this issue, as it's not something reveal-md itself can fix.

One workaround, though, could be to [pre-process the Markdown](https://github.com/webpro/reveal-md#pre-process-markdown) to fix things before handing it over to the parser.

[2019-10-06 15:57] #269 closed

[2019-10-06 17:17] jakupmichaelsen commented on #274
Yeah that doesn't work :)

Using sub-directories, like in the readme example, works perfectly. But I can't get it to work for any other, absolute path (e.g. `d:\GitHub\CSS\myTheme.css`)

[2019-10-06 17:27] webpro commented on #274
Ah, I'm on MacOS, so not testing on Windows. That dir is passed verbatim to the `copy` function of the fs-extra package. Node.js should handle this properly cross-OS.

Maybe you can try something like this (quoted argument):

[code]

[2019-10-06 17:45] nautikos1235 commented on #273
Have you tried `docker login docker.io`?
Don't know what the `index.` is about... But I don't think it's the registry url

[2019-10-06 17:53] jakupmichaelsen commented on #274
I've tried that as well. Also with both slashes and backslashes. None of the following works on Windows 10:

[code]

[2019-10-06 19:31] webpro commented on #273
Thanks! That did the trick, I've just pushed the latest tag: https://hub.docker.com/r/webpronl/reveal-md/tags

[2019-10-06 19:44] nautikos1235 commented on #273
Cool!

[2019-10-06 19:44] #273 closed

[2019-10-07 10:55] Zachu commented on #197
I've achieved mermaid diagrams by running `reveal-md` like this:
[code]
Where `mermaid.min.js` is minified mermaid of course, and `reveal-mermaid.js` is following:
[code]

Afterwards mermaid diagrams are specified as a code block with syntax mermaid:
[code]

I have no idea how to implement this built-in feature PR, but if someone does know how then this can be used if it helps :)

[2019-10-14 18:52] cnoss opened #276 "Error at static export: Source and destination must not be the same"
Hi Lars,
I have a Setup with some additional Files. I use the static export only a couple of times a year. Until today it works fine, but now I receive an error message. This is mal command:
```reveal-md --highlight-theme Vs -w --scripts core/reveal-md-add-icons.js --preprocessor core/reveal-md-pre.js --static-dirs=assets --static static/2019/mi-emi-ui-sketching/ slidedecks/2019/mi-emi-ui-sketchin

[2019-10-15 08:05] webpro commented on #276
Let's start by making this more readable:

[code]

First of all, the `-w` (watch mode) can be removed.

As for the actual issue, please try to remove the output dir first. Does this help?

[2019-10-21 17:30] cnoss commented on #276
Möööp. yes! Thank you.

[2019-10-21 17:30] #276 closed

[2019-10-23 11:30] webpro commented on #274
In general, reveal-md was designed to use files from the directory of the slides or children thereof. That's why I'm going to close this issue, but feel free to discuss further or open a PR with a fix.

[2019-10-23 11:30] #274 closed

[2019-10-29 20:55] gabrielesh opened #277 "Node.js error on Docker container"
Hi, and thank you for a great project! When I tried to run slides using the Docker container you suggest, I got the following error message:
Reveal-server started at localhost:1948
(node:1) UnhandledPromiseRejectionWarning: Error: EPERM: operation not permitted, scandir '/proc/1/map_files/2645000-2647000'
    at Object.readdirSync (fs.js:790:3)
    at GlobSync._readdir (/app/node_modules/glob/sync

[2019-10-29 21:01] #277 closed

[2019-10-29 21:02] gabrielesh commented on #277
Figured out my error. Thanks! Working smoothly.

[2019-11-04 17:07] carlosonunez opened #280 "Custom CSS gets interpreted as a Directory Listing when run inside of Docker"
Thanks for the awesome project!

When I run my slides in a Docker container with the `--asset-dir` and `--css` options set, both the assets directory and the CSS within it are interpreted as directory listings despite the CSS being correct.

Example: https://github.com/carlosonunez/talks

While I'm able to put the CSS inside of my slides as a workaround, I would prefer to have these stylesheets in

[2019-11-08 14:25] dacr opened #281 "Button to help code copy/paste ?"
Something which can be very very helpful : adding a button to help copy/paste code, such as this small example in the top-right border :

![image](https://user-images.githubusercontent.com/381901/68483358-b1f26400-023b-11ea-84c2-0c7b5d281ea1.png)

[2019-11-09 19:42] webpro commented on #281
Could you please be more clear about your feature request? Not sure how/where this fits in reveal-md.

[2019-11-12 04:42] andyhall opened #282 "Way to serve a single presentation, rather than a directory listing?"
Hi, sorry if I'm missing something obvious.

Is there a way to get the dev server to just serve a single presentation, rather than serving an index page linking to it?

That is, when doing `reveal-md index.md`, I'm looking for a way for the  `index.html` served locally to be the presentation, rather than a listing page that links to `/index.md`.

Thanks!

*Edit:* I see now that this already happen

[2019-11-12 07:12] webpro commented on #282
With e.g. `reveal-md slides.md` it should open the presentation (not the listing).

Maybe it's because you are using `index.md`, could you please try to rename it to e.g. `slides.md`?

[2019-11-12 09:01] andyhall commented on #282
Hi, yes the page opened by default is the presentation, as you say. I'm asking about the page that gets served from the root of the dev server - e.g. when you manually open `localhost:1498` (or whichever is the correct port), you always get a file listing rather than the presentation.

Is there a setting where the presentation gets served instead?

[2019-11-12 13:37] webpro commented on #282
If that doesn't work with an `index.md`, then unfortunately no :)

[2019-11-12 13:37] #282 closed

[2019-11-13 08:30] dacr commented on #281
Have a way to add a copy content buttons on all code block area such as :
![image](https://user-images.githubusercontent.com/381901/68745722-7c60c880-05f7-11ea-93e8-d76f47472d08.png)

And a way to activate this feature or not, through something like that in the reveal.json file:
[code]

reveal-md is really a great tool, very useful, I use it for training purposes, and this feature would be very he

[2019-11-13 09:30] webpro commented on #281
Ah, I see. That would be a feature request to reveal.js itself or the plugin. Also see https://github.com/hakimel/reveal.js/#code-syntax-highlighting

Going to close this issue here.

[2019-11-13 09:30] #281 closed

[2019-11-13 12:10] jameslahm opened #283 "whether the server host can be changed for external network access"
I want to ask when I use `reveal-md slides.md` whether I can change the server host to make the presentation website accessible for the external network, not just the localhost.

I think it's a good feature to change the  server host, maybe add the option `-h host`

[2019-11-13 12:13] webpro commented on #283
Use `--host [your-host]`

Not documented indeed 🙈

[2019-11-13 12:13] #283 closed

[2019-11-13 12:13] jameslahm commented on #283
Sorry, I just find 🤣

[2019-11-13 12:14] jameslahm commented on #283
Maybe it can be added into document😂

[2019-11-13 13:09] dacr commented on #281
OK thanks for your feedback. I've Just written : https://github.com/hakimel/reveal.js/issues/2528

[2019-11-17 11:08] toastal opened #284 "Building static hangs"
I just tried building static with the latest node locally and CI and the code after a successful write via
[code]
, the script hangs indefinitely.

[2019-11-17 14:35] toastal commented on #284
I came back to this and I see I still had the `-w` flag on.

[2019-11-17 14:35] #284 closed

[2019-11-19 21:13] siakaramalegos opened #285 "Static build runs a server too"
Hi, thanks for building this tool!

I love using it, but I noticed recently the static build also automatically starts serving the static build on a local server.

[code]

![image](https://user-images.githubusercontent.com/4777393/69186754-d02f4e00-0ade-11ea-9817-6a1468866105.png)

This is disruptive to build pipelines since I then have to kill the server to run additional build commands (or if I

[2019-11-19 21:15] siakaramalegos commented on #285
For more context, I run a lot of extra bash steps to make my slides work with Github pages - like adding the .nojekyll file so it doesn't ignore underscore folders and copying my custom assets that don't seem to copy with the static build step. Then my last bash script add on is deploying to Github pages.

[2019-11-21 14:22] webpro commented on #285
The `--static` does not serve anything, it only copies/exports files to the output directory. The error in your screenshot can be get rid of by removing the directory before making the static export.

Only when the "featured slide" option is used, the server is started to generate a preview image.

(I do see some sloppy coding in https://github.com/webpro/reveal-md/blob/master/bin/reveal-md.js (re

[2019-11-22 09:50] #285 closed

[2019-11-22 09:56] webpro commented on #285
My apologies, @siakaramalegos. I was wrong in my previous comment (a server was started indeed). I was confused by the poor naming of the `isStartServer` variable at first glance. However, [v3.4.1](https://github.com/webpro/reveal-md/releases/tag/3.4.1) I've just released should no longer contain the bug. Thanks!

[2019-11-24 17:33] kekru commented on #223
Works for me, too. After upgrading from reveal-md 3.0.4 to 3.4.1

[2019-11-26 08:51] silencej opened #286 "Remove the white border when printing the slides"
When use `reveal-md main.md --print main.pdf`, there is a white border. I tried to inject print.css like below with no vail:

`@media print
{
  size: A4 landscape;
  margin: 0 !important;
}
`

The screenshot is like this:
<img src="https://i.imgur.com/sIXlGFj.png">

While I wannt it to be like:
<img src="https://i.imgur.com/i3d9vb8.png">

[2019-11-29 07:26] webpro commented on #286
Try `--print-size`

https://github.com/webpro/reveal-md#print-to-pdf

[2019-12-02 06:23] silencej commented on #286
@webpro I tried `reveal-md test.md --print test.pdf --print-size A4` on the the following simple markdown, and it doesn't work either -- the white border still appears in the PDF.

test.md:

[code]

[2019-12-02 12:06] jakupmichaelsen opened #287 "Ignore directories when listing files?"
Is it possible to only show files when using Directory Listing? Perhaps a way to edit the listing template?

[2019-12-02 16:22] webpro commented on #287
You could use a different template for this: https://github.com/webpro/reveal-md#custom-template

Or send in a PR with a fix for this.

[2019-12-02 16:39] webpro commented on #286
You can also try to print from (different) browser(s): https://github.com/webpro/reveal-md#print-to-pdf

Or use `px` or `mm` for paper size.

[2019-12-03 14:23] Rylai-Zihang opened #288 "How to insert a picture in a slide?"
I wonder how to insert a picture( like <img>) into a slide?
And I find that markdown tables are not supported well.

[2019-12-08 11:32] webpro commented on #288
It's regular Markdown, so see e.g. https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

The underlying presentation library is [reveal.js](https://github.com/hakimel/reveal.js/), which uses a Markdown parser/renderer: https://github.com/hakimel/reveal.js/#markdown. In other words, reveal-md can't do much here.

[2019-12-15 03:34] JingwangLi opened #291 "Error while generating PDF for "demo.md""
When I use the cmd "reveal-md D://demo.md --print D://demo.pdf" to generate the pdf, the following error happened:
![image](https://user-images.githubusercontent.com/29228612/70857685-3ff1f680-1f2e-11ea-8b18-3a40b39a9294.png)

I also checked the previous issues related to this problem but they didn't help me, and I'm sure the puppeteer were installed successfully.
![image](https://user-images.gith

[2019-12-15 03:43] JingwangLi opened #292 "live-reload doesn't work"
When I use the live-reload function by adding the "-w" parameter like this:
"reveal-md D://demo.md -w"
the following error happened:

![image](https://user-images.githubusercontent.com/29228612/70857762-9f9cd180-1f2f-11ea-9b48-169c2c40de43.png)

My operation system is win10 1903 x64. How can I to fix this problem? @webpro

[2019-12-15 09:32] webpro commented on #291
Unfortunately I don't have a Windows machine to check, but can you can try to go to `D:\` first and use reveal-md from the same drive?

[2019-12-15 09:32] webpro commented on #292
Unfortunately I don't have a Windows machine to check, but can you can try to go to `D:\` first and use reveal-md from the same drive?

[2019-12-15 15:44] JingwangLi commented on #292
Thank you vary much! This problem was solved by running reveal-md in the same path with the md file.

[2019-12-15 15:44] #292 closed

[2019-12-15 15:49] JingwangLi commented on #291
Thank you for you replying! But this didn't work, still same error. And I tried other demo file downing from this repository, also failed.
![image](https://user-images.githubusercontent.com/29228612/70865190-90e90580-1f95-11ea-8c5c-4d4f23697f01.png)

[2019-12-16 08:00] webpro commented on #291
Did you try to use this? Not sure how to set `DEBUG` in Windows environment:

[code]

[2019-12-16 08:25] JingwangLi commented on #291
I tried the “DEBUG=reveal-md...” before, then I realized it was't Windows cmd.  I will try to debug it later but now I need to prepare my exam. Thank you!

[2019-12-18 17:53] csbrown opened #293 "Script load options?"
The normal `<script></script>` html tag takes various options.  These include `charset`, `type` and [some others](https://www.w3schools.com/Tags/tag_script.asp).  How do we pass script tag options to additional custom scripts that we load into reveal-md?